<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 임원관리</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid mt-4">
        <h2 class="mb-3">임원관리</h2>
        <div class="card p-4">
            <form th:action="@{/admin/executiveList}" method="get">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="role" class="form-label">권한</label>
                            <select class="form-select" id="role" name="role">
                                <option selected>전체</option>
                                <option value="CHIEF">CHIEF</option>
                                <option value="MANAGER">MANAGER</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">이메일</label>
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <!--<div class="mb-3">
                            <label for="company" class="form-label">본사</label>
                            <select class="form-select" id="company" name="company">
                                <option value="">전체</option>
                                <option th:each="company : ${companyList}" th:value="${company.companyId}" th:text="${company.companyName}"></option>
                            </select>
                        </div>-->
                        <div class="mb-3">
                            <label class="form-label">등록일</label>
                            <div class="d-flex gap-3">
                                <div class="form-group" style="flex: 1;">
                                    <input type="date" class="form-control" id="시작일" name="startDate"th:value="${param.startDate}">
                                </div> ~
                                <div class="form-group" style="flex: 1;">
                                    <input type="date" class="form-control" id="종료일" name="endDate" th:value="${param.endDate}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="mb-3">
                            <label for="name" class="form-label">이름</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">연락처</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="연락처">
                        </div>
                        <!--<div class="mb-3">
                            <label for="hotelSelect" class="form-label">지사</label>
                            <select id="hotelSelect" class="form-select" name="hotel">
                                <option value="">먼저 본사를 선택하세요.</option>
                            </select>
                        </div>-->
                        <div class="mb-3">
                            <label class="form-label">상태</label>
                            <div class="d-flex flex-wrap gap-3">
                                <div class="form-check form-check-card px-0" style="margin-left: 30px; margin-top: 7px">
                                    <input class="form-check-input" type="radio" name="status" id="상태전체" value="전체" checked>
                                    <label class="form-check-label" for="상태전체">전체</label>
                                </div>
                                <div class="form-check form-check-card" style="margin-top: 7px">
                                    <input class="form-check-input" type="radio" name="status" id="상태활성" value="활성">
                                    <label class="form-check-label" for="상태활성">활성</label>
                                </div>
                                <div class="form-check form-check-card" style="margin-top: 7px">
                                    <input class="form-check-input" type="radio" name="status" id="상태비활성" value="비활성">
                                    <label class="form-check-label" for="상태비활성">비활성</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary" style="background-color: black">조회</button>
                </div>
            </form>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">임원 목록</h5>
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>임원권한</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>담당지사</th>
                        <th>연락처</th>
                        <th>등록일</th>
                        <th>상태</th>
                        <th>수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="hotelDTO : ${hotelMemberIds}">
                        <tr style="vertical-align: middle;">
                            <!-- memberId 출력 -->
                            <td th:text="${hotelDTO.member != null ? hotelDTO.member.memberId : 'N/A'}">1</td>
                            <td>
                                <form th:action="@{/admin/executiveUpdate}" method="post">
                                    <input type="hidden" th:value="${hotelDTO.member != null ? hotelDTO.member.memberId : ''}" name="memberId" />
                                    <select class="form-select" name="role">
                                        <option th:each="role : ${roles}"
                                                th:value="${role}"
                                                th:text="${role}"
                                                th:selected="${hotelDTO.member != null && hotelDTO.member.role == role}"></option>
                                    </select>
                            </td>
                            <td th:text="${hotelDTO.member != null ? hotelDTO.member.memberEmail : 'N/A'}">아이디</td>
                            <td th:text="${hotelDTO.member != null ? hotelDTO.member.memberName : 'N/A'}">회원 이름</td>
                            <td th:text="${hotelDTO.member != null ? hotelDTO.hotelName : 'N/A'}">지사명</td>
                            <td th:text="${hotelDTO.member != null ? hotelDTO.member.memberPhone : 'N/A'}">전화번호</td>
                            <td th:text="${hotelDTO.regDate != null ? #temporals.format(hotelDTO.modDate, 'yyyy-MM-dd HH:mm:ss') : 'N/A'}">등록일</td>
                            <td>
                                <select class="form-select" name="memberStatus">
                                    <option value="활성" th:selected="${hotelDTO.member != null && hotelDTO.member.memberStatus == '활성'}">활성</option>
                                    <option value="비활성" th:selected="${hotelDTO.member != null && hotelDTO.member.memberStatus == '비활성'}">비활성</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">수정</button>
                            </td>
                            </form>
                        </tr>
                    </th:block>
                </table>
                </table>
                <div th:if="${totalPages > 1}" class="pagination d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- 이전 버튼 -->
                        <li th:classappend="${pageNumber == 0} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/admin/memberList(page=${pageNumber - 1}, size=${size}, role=${param.role}, email=${param.email}, status=${param.status}, name=${param.name}, phone=${param.phone}, startDate=${param.startDate}, endDate=${param.endDate})}">이전</a>
                        </li>

                        <!-- 페이지 번호 버튼 -->
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == pageNumber} ? 'active'"
                            class="page-item">
                            <a class="page-link"
                               th:href="@{/admin/memberList(page=${i}, size=${size}, role=${param.role}, email=${param.email}, status=${param.status}, name=${param.name}, phone=${param.phone}, startDate=${param.startDate}, endDate=${param.endDate})}"
                               th:text="${i + 1}">
                            </a>
                        </li>

                        <!-- 다음 버튼 -->
                        <li th:classappend="${pageNumber + 1 == totalPages} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/admin/memberList(page=${pageNumber + 1}, size=${size}, role=${param.role}, email=${param.email}, status=${param.status}, name=${param.name}, phone=${param.phone}, startDate=${param.startDate}, endDate=${param.endDate})}">다음</a>
                        </li>
                    </ul>
                </div>

                <!-- 회원정보 수정 성공시 메시지 -->
                <div id="successMessage" th:if="${successMessage}" class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>

                <script>
                    window.onload = function() {
                        // 회원정보 수정 성공 메시지 숨기기
                        var successMessage = document.getElementById('successMessage');
                        if (successMessage) {
                            setTimeout(function() {
                                successMessage.style.display = 'none';
                            }, 5000); // 5초 후에 숨기기
                        }

                        // 회원 검색 후 내가 검색 선택했던 권한과 상태 유지
                        var urlParams = new URLSearchParams(window.location.search);

                        // 상태 유지
                        var status = urlParams.get('status');
                        if (status) {
                            var statusInput = document.querySelector("input[name='status'][value='" + status + "']");
                            if (statusInput) {
                                statusInput.checked = true;
                            }
                        }

                        // 권한 유지
                        var role = urlParams.get('role');
                        if (role) {
                            var selectElement = document.getElementById('role');
                            if (selectElement) {
                                for (var i = 0; i < selectElement.options.length; i++) {
                                    if (selectElement.options[i].value === role) {
                                        selectElement.selectedIndex = i;
                                        break;
                                    }
                                }
                            }
                        }
                    };
                </script>

                <!-- 등록 버튼 -->
                <div class="text-end">
                    <button class="btn btn-primary" style="background-color: black" onclick="location.href='/admin/executiveRegister'">등록</button>
                </div>
            </div>
        </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                $(document).ready(function() {
                    // #company 선택 시 실행
                    $("#company").change(function() {
                        var companyId = $(this).val(); // 선택한 본사의 ID 가져오기

                        // console.log으로 확인
                        console.log("선택한 본사 ID:", companyId);

                        // 회사 ID가 선택되지 않으면 지사 목록 초기화
                        if (!companyId) {
                            $("#hotelSelect").empty();  // 기존 옵션 제거
                            $("#hotelSelect").append('<option value="">먼저 본사를 선택하세요</option>');
                            return;  // 추가적으로 처리할 필요가 없으므로 종료
                        }

                        $.ajax({
                            url: "/admin/hotels",  // 본사에 해당하는 지사를 가져오는 API
                            type: "GET",
                            data: { companyId: companyId },  // 선택한 회사 ID 전송
                            success: function(hotels) {
                                var hotelSelect = $("#hotelSelect");
                                hotelSelect.empty();  // 기존 옵션 제거

                                if (hotels.length > 0) {
                                    // 호텔 목록이 있을 경우
                                    hotels.forEach(function(hotel) {
                                        hotelSelect.append(
                                            `<option value="${hotel.hotel}">${hotel.hotelName}</option>`
                                        );
                                    });
                                } else {
                                    // 지사가 없으면 '지사 목록이 없습니다' 메시지 추가
                                    hotelSelect.append('<option value="">지사 목록이 없습니다</option>');
                                }
                            },
                            error: function() {
                                alert("지사 목록을 불러오는 중 오류가 발생했습니다.");
                            }
                        });
                    });
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>