<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 지사 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/map.css}">
</head>
<body>
<div id="wrapper" layout:fragment="content">

    <div class="container-fluid mt-4">
        <h2 class="mb-3">지사 상세보기</h2>

        <div class="card p-4 mb-4">
            <div class="row g-3 align-items-center">

                <!--등록한 사진이 있을 때-->
                <th:block th:if="${hotelDTO.hotelImgDTOList != 0}">
                    <div th:each="img : ${hotelDTO.hotelImgDTOList}">
                        <!-- 이미지 경로(path) -->
                        <img th:src="@{'/upload/' + ${img.imagePath}}" alt="hotel Image" width="300px"/>
                    </div>
                </th:block>

                <!--등록한 사진이 없을 때-->
                <th:block th:unless="${hotelDTO.hotelImgDTOList.size() != 0}">
                    <div>
                        <img src="/img/default_img.jpg" alt="noImage" style="width: 300px"/>
                    </div>
                </th:block>

                <div class="container">
                    <div class="bg-secondary text-white d-flex justify-content-center" style="height: 500px;">
                        <div class="map_wrap">
                            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
                            <!-- 지도타입 컨트롤 div 입니다 -->
                            <div class="custom_typecontrol radius_border">
                                <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
                                <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
                            </div>
                            <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
                            <div class="custom_zoomcontrol radius_border">
                                <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
                                <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
                            </div>
                        </div>
                        <script type="text/javascript"
                                src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=0cb0450151c2b892da76c0d5dcd6535a&libraries=services"></script>
                        <script>
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                                mapOption = {
                                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                                    level: 3 // 지도의 확대 레벨
                                };

                            function zoomIn() {
                                map.setLevel(map.getLevel() - 1);
                            }

                            function zoomOut() {
                                map.setLevel(map.getLevel() + 1);
                            }

                            // 지도를 생성합니다
                            var map = new kakao.maps.Map(mapContainer, mapOption);

                            // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new kakao.maps.services.Geocoder();

                            // Thymeleaf에서 호텔 주소와 이름 값을 가져옴
                            var hotelAddress = "[[${hotelDTO.hotelAddress}]]";  // 호텔 주소
                            var hotelName = "[[${hotelDTO.hotelName}]]";  // 호텔 이름

                            // 주소로 좌표를 검색합니다
                            geocoder.addressSearch(hotelAddress, function(result, status) {

                                // 정상적으로 검색이 완료됐으면
                                if (status === kakao.maps.services.Status.OK) {

                                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                                    // 결과값으로 받은 위치를 마커로 표시합니다
                                    var marker = new kakao.maps.Marker({
                                        map: map,
                                        position: coords
                                    });

                                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                                    var infowindow = new kakao.maps.InfoWindow({
                                        content: '<div style="width:200px;text-align:center;padding:10px;font-size:14px;color:black;">' + hotelName + '</div>'  // 호텔 이름 표시
                                    });
                                    infowindow.open(map, marker);

                                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                                    map.setCenter(coords);
                                }
                            });
                        </script>
                    </div>
                </div>

                <h3 th:text="${hotelDTO.hotelName}">호텔(지사)이름</h3>
                <p>호텔본사 : <span th:text="${hotelDTO.companyName}">본사명</span></p>
                <p>호텔주소 : <span th:text="${hotelDTO.hotelAddress}">주소</span></p>
                <p>상세정보 : <span th:text="${hotelDTO.hotelInfo}">상세정보</span></p>
                <p>전화번호 : <span th:text="${hotelDTO.hotelPhone}">전화번호</span></p>
                <p>이메일 : <span th:text="${hotelDTO.hotelEmail}">이메일</span></p>
                <p>체크인 : <span th:text="${hotelDTO.hotelCheckIn}">체크인</span>시</p>
                <p>체크아웃 : <span th:text="${hotelDTO.hotelCheckOut}">체크아웃</span>시</p>
            </div>
        </div>

        <!-- 버튼 -->
        <div class="text-end mt-3">
            <a class="btn btn-primary" style="background-color: black" th:href="@{/manager/hotel/list(companyId=${hotelDTO.companyId.companyId})}">목록</a>
            <a class="btn btn-primary" th:href="@{/manager/hotel/modify(hotelId=${hotelDTO.hotelId})}">수정</a>
            <a class="btn btn-danger" th:href="@{/manager/hotel/delete(hotelId=${hotelDTO.hotelId})}">삭제</a>
        </div>

    </div>
</div>


</body>
</html>