<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>전체회원관리</title>

</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid mt-4">
        <h2 class="mb-3">전체회원관리</h2>

        <div class="card p-4">
            <form th:action="@{/admin/memberList}" method="get">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="매장유저권한" class="form-label">권한</label>
                            <select class="form-select" id="매장유저권한" name="role">
                                <option selected>전체</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="CHIEF">CHIEF</option>
                                <option value="MANAGER">MANAGER</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="아이디" class="form-label">아이디</label>
                            <input type="text" class="form-control" id="아이디" name="email" placeholder="이메일" th:value="${param.email}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">가입일</label>
                            <div class="d-flex gap-3">
                                <div class="form-group" style="flex: 1;">
                                    <input type="date" class="form-control" id="시작일" name="startDate"th:value="${param.startDate}">
                                </div> ~
                                <div class="form-group" style="flex: 1;">
                                    <input type="date" class="form-control" id="종료일" name="endDate" th:value="${param.endDate}">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="이름" class="form-label">이름</label>
                            <input type="text" class="form-control" id="이름" name="name" placeholder="이름" th:value="${param.name}">
                        </div>
                        <div class="mb-3">
                            <label for="연락처" class="form-label">연락처</label>
                            <input type="text" class="form-control" id="연락처" name="phone" placeholder="연락처" th:value="${param.phone}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">상태</label>
                            <div class="d-flex flex-wrap gap-3">
                                <div class="form-check form-check-card px-0" style="margin-left: 30px; margin-top: 7px">
                                    <input class="form-check-input" type="radio" name="status" id="상태전체" value="전체" checked>
                                    <label class="form-check-label" for="상태전체">전체</label>
                                </div>
                                <div class="form-check form-check-card" style="margin-top: 7px">
                                    <input class="form-check-input" type="radio" name="status" id="상태활성" value="활성">
                                    <label class="form-check-label" for="상태활성">활성</label>
                                </div>
                                <div class="form-check form-check-card" style="margin-top: 7px">
                                    <input class="form-check-input" type="radio" name="status" id="상태비활성" value="비활성">
                                    <label class="form-check-label" for="상태비활성">비활성</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary" style="background-color: black">조회</button>
                </div>
            </form>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">회원 목록</h5>
                <table class="table table-bordered text-center" id="memberTable">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>권한</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>연락처</th>
                        <th>가입일</th>
                        <th>상태</th>
                        <th>수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="memberDTO : ${memberDTOList}">
                        <tr style="vertical-align: middle;">
                            <td th:text="${memberDTO.memberId}">1</td>
                            <td>
                                <form th:action="@{/admin/update}" method="post">
                                    <input type="hidden" th:value="${memberDTO.memberId}" name="memberId" />
                                    <select class="form-select" name="role">
                                        <option th:each="role : ${roles}"
                                                th:value="${role}"
                                                th:text="${role}"
                                                th:selected="${memberDTO.role == role}"></option>
                                    </select>
                            </td>
                            <td th:text="${memberDTO.memberEmail}">test2@ggg.com</td>
                            <td th:text="${memberDTO.memberName}">신짱구</td>
                            <td th:text="${memberDTO.memberPhone}">010-2345-6789</td>
                            <td th:text="${#temporals.format(memberDTO.regDate, 'yyyy-MM-dd HH:mm:ss')}">2023-01-01</td>
                            <td>
                                <select class="form-select" name="memberStatus">
                                    <option value="활성" th:selected="${memberDTO.memberStatus == '활성'}">활성</option>
                                    <option value="비활성" th:selected="${memberDTO.memberStatus == '비활성'}">비활성</option>
                                </select>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">수정</button>
                            </td>
                            </form>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div class="pagination d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- 이전 버튼 -->
                        <li th:classappend="${pageNumber == 0} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/admin/memberList(page=${pageNumber - 1}, size=${size}, role=${param.role}, email=${param.email}, status=${param.status}, name=${param.name}, phone=${param.phone}, startDate=${param.startDate}, endDate=${param.endDate})}">이전</a>
                        </li>

                        <!-- 페이지 번호 버튼 -->
                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                            th:classappend="${i == pageNumber} ? 'active'"
                            class="page-item">
                            <a class="page-link"
                               th:href="@{/admin/memberList(page=${i}, size=${size}, role=${param.role}, email=${param.email}, status=${param.status}, name=${param.name}, phone=${param.phone}, startDate=${param.startDate}, endDate=${param.endDate})}"
                               th:text="${i + 1}">
                            </a>
                        </li>

                        <!-- 다음 버튼 -->
                        <li th:classappend="${pageNumber + 1 == totalPages} ? 'disabled'" class="page-item">
                            <a class="page-link" th:href="@{/admin/memberList(page=${pageNumber + 1}, size=${size}, role=${param.role}, email=${param.email}, status=${param.status}, name=${param.name}, phone=${param.phone}, startDate=${param.startDate}, endDate=${param.endDate})}">다음</a>
                        </li>
                    </ul>
                </div>

                <!-- 회원정보 수정 성공시 메시지 -->
                <div id="successMessage" th:if="${successMessage}" class="alert alert-success" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>

                <script>
                    window.onload = function() {
                        // 회원정보 수정 성공 메시지 숨기기
                        var successMessage = document.getElementById('successMessage');
                        if (successMessage) {
                            setTimeout(function() {
                                successMessage.style.display = 'none';
                            }, 5000); // 5초 후에 숨기기
                        }

                        // 회원 검색 후 내가 검색 선택했던 권한과 상태 유지
                        var urlParams = new URLSearchParams(window.location.search);

                        // 상태 유지
                        var status = urlParams.get('status');
                        if (status) {
                            var statusInput = document.querySelector("input[name='status'][value='" + status + "']");
                            if (statusInput) {
                                statusInput.checked = true;
                            }
                        }

                        // 권한 유지
                        var role = urlParams.get('role');
                        if (role) {
                            var selectElement = document.getElementById('매장유저권한');
                            if (selectElement) {
                                for (var i = 0; i < selectElement.options.length; i++) {
                                    if (selectElement.options[i].value === role) {
                                        selectElement.selectedIndex = i;
                                        break;
                                    }
                                }
                            }
                        }
                    };
                </script>

            </div>
        </div>
    </div>
</div>
</body>
</html>