<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel ="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel ="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel ="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/notificationbell.css}">
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon">
</head>

<body>
<div layout:fragment="layout">
    <div class="d-flex">
        <!-- Sidebar -->
        <nav class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 250px; height: 100vh; position: sticky; top: 0;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">NTT호텔</span>
            </a>
            <hr>

            <!-- User Info Section -->
            <div class="user-info text-white mb-3">
                <p class="mb-1">권한: <span class="fw-bold" th:text="${#strings.setJoin(#authentication.authorities, ', ').replace('ROLE_', '')}"></span></p>
                <p>ID: <span class="fw-bold" th:text="${#authentication.name}"></span></p>
            </div>
            <hr>

            <!-- User Info Section 나중에 주석풀기 -->
            <!--<div class="user-info text-white">
                <p class="mb-1">호텔명: <span class="fw-bold" th:text="${hotelName}">N/A</span></p>
                <p class="mb-1">권한:
                    <span th:if="${#authentication.hasRole('ADMIN')}">ADMIN</span>
                    <span th:if="${#authentication.hasRole('CHIEF')}">CHIEF</span>
                    <span th:if="${#authentication.hasRole('MANAGER')}">MANAGER</span>
                </p>
                <p>ID: <span th:text="${#authentication.name}">N/A</span></p>
            </div>-->

            <!-- ADMIN Menu -->
            <!--<ul class="nav nav-pills flex-column mb-auto" th:if="${#authentication.hasRole('ADMIN') }">--> <!--로그인 만들고 주석 풀어주기-->
            <ul class="nav nav-pills flex-column mb-auto" >
                <div>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#admin-member-menu" aria-expanded="false"><i class="bi bi-person"></i> 회원관리</a>
                        <ul class="collapse list-unstyled ps-3" id="admin-member-menu">
                            <!-- 전체회원관리 페이지는 어드민으로 로그인했을때만 보이도록 수정 -->
                            <!-- <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin/memberList" class="nav-link text-white">전체회원관리</a></li> -->
                            <!-- ★★★ 다 만든후 아래 지우고 위에꺼 주석해제해서 쓰기 -> 개발 편의성을 위해서 일단은 권한 상관없이 모든 페이지 열람 가능하게 만들어둠 ★★★ -->
                            <li><a href="/admin/memberList" class="nav-link text-white">전체회원관리</a></li>
                            <li><a href="/admin/executiveList" class="nav-link text-white">임원관리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#admin-hotel-menu" aria-expanded="false"><i class="bi bi-buildings"></i> 호텔관리</a>
                        <ul class="collapse list-unstyled ps-3" id="admin-hotel-menu">
                            <!--관리자-->
                            <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin/company/list" class="nav-link text-white">호텔본사관리</a></li>
                            <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}"  href="/admin/hotel/list" class="nav-link text-white">호텔지사관리</a></li>
                            <!--호텔장-->
                            <li><a th:if="${#authorization.expression('hasRole(''CHIEF'')')}" href="/chief/company/list" class="nav-link text-white">호텔본사관리</a></li>
                            <!--수정필요--><li><a th:if="${#authorization.expression('hasRole(''CHIEF'')')}" href="/chief/hotel/list" class="nav-link text-white">호텔지사관리</a></li>
                            <!--매니저-->
                            <li><a th:if="${#authorization.expression('hasRole(''MANAGER'')')}" href="/manager/hotel/list" class="nav-link text-white">호텔지사관리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#admin-store-menu" aria-expanded="false"><i class="bi bi-house"></i> 객실 서비스 관리</a>
                        <ul class="collapse list-unstyled ps-3" id="admin-store-menu">
                            <li><a href="/manager/room/list" class="nav-link text-white">직·가맹점 객실관리</a></li>
                            <li><a href="/manager/room/reservation/list" class="nav-link text-white">객실별 예약관리</a></li>
                            <li><a href="/manager/room/reviews/list" class="nav-link text-white">객실 리뷰관리</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#admin-service-menu" aria-expanded="false"><i class="bi bi-cup-hot"></i> 룸 서비스 관리</a>
                        <ul class="collapse list-unstyled ps-3" id="admin-service-menu">
                            <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin/roomService/category/list" class="nav-link text-white">카테고리 관리</a></li>
                            <li><a th:if="${#authorization.expression('hasRole(''CHIEF'')')}" href="/chief/roomService/category/list" class="nav-link text-white">카테고리 관리</a></li>
                            <li><a th:if="${#authorization.expression('hasRole(''MANAGER'')')}" href="/manager/roomService/category/list" class="nav-link text-white">카테고리 관리</a></li>
                            <li><a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="/admin/order/list" class="nav-link text-white">주문 관리</a></li>
                            <li><a th:if="${#authorization.expression('hasRole(''CHIEF'')')}" href="/chief/order/list" class="nav-link text-white">주문 관리</a></li>
                            <li><a th:if="${#authorization.expression('hasRole(''MANAGER'')')}" href="/manager/order/list" class="nav-link text-white">주문 관리</a></li>
                        </ul>
                    </li>
                    <li><a href="/manager/sales" class="nav-link text-white"><i class="bi bi-cash-coin"></i> 매출관리</a></li>
                    <li><a href="/banner/list" class="nav-link text-white"><i class="bi bi-images"></i> 배너관리</a></li>
                    <li><a href="#" class="nav-link text-white"><i class="bi bi-translate"></i> 다국어관리</a></li>
                    <li><a href="/notice/list" class="nav-link text-white"><i class="bi bi-megaphone"></i> 공지사항</a></li>

                    <div sec:authorize="hasRole('ADMIN')">
                        <!-- Q&A와 알림 벨을 같은 라인에 배치 -->
                        <li>
                            <div  class="d-flex align-items-center">
                                <a href="/qna" class="nav-link text-white"><i class="bi bi-question-lg"></i> Q&A</a>
                                <div id="notification-container">
                                    <span id="notification-bell">🔔</span>
                                    <span id="unread-count">0</span>
                                </div>
                                <!-- 알림 목록 (처음에는 숨겨짐) -->
                                <ul id="notification-list" style="display: none;">
                                    <!-- 알림을 동적으로 렌더링 -->
                                </ul>
                            </div>
                        </li>
                    </div>
                </div>

            </ul>

            <!-- CHIEF Menu -->
            <!--<ul class="nav nav-pills flex-column mb-auto" th:if="${#authentication.hasRole('ADMIN') or #authentication.hasRole('CHIEF')}">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#chief-member-menu" aria-expanded="false"><i class="fa-regular fa-snowflake"></i> 회원관리</a>
                    <ul class="collapse list-unstyled ps-3" id="chief-member-menu">
                        <li><a href="#" class="nav-link text-white">일반회원 관리</a></li>
                        <li><a href="#" class="nav-link text-white">임원관리</a></li>
                        <li><a href="#" class="nav-link text-white">지사 관리</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#chief-store-menu" aria-expanded="false"><i class="fa-regular fa-snowflake"></i> 매장관리</a>
                    <ul class="collapse list-unstyled ps-3" id="chief-store-menu">
                        <li><a href="#" class="nav-link text-white">직/가맹점 매장관리</a></li>
                        <li><a href="#" class="nav-link text-white">객실별 회원배정</a></li>
                        <li><a href="#" class="nav-link text-white">객실별 회원배정내역</a></li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 주문관리</a></li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 정산관리</a></li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 포인트관리</a></li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 고객센터</a></li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 비밀번호 변경</a></li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 다국어관리</a></li>
                <li><a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 주문 보고서</a></li>
            </ul>-->

            <!-- MANAGER Menu -->
            <!--<ul class="nav nav-pills flex-column mb-auto" th:if="${#authentication.hasRole('ADMIN') or #authentication.hasRole('CHIEF') or #authentication.hasRole('MANAGER')}">
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 회원관리</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 매장관리</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white"><i class="fa-regular fa-snowflake"></i> 비밀번호 변경</a>
                </li>
            </ul>-->

            <!-- Logout Button -->
            <div class="mt-auto">
                <a href="/logout" class="btn btn-danger w-100">로그아웃</a>
            </div>
        </nav>



        <!-- Main Content Area -->
        <div id="wrapper" class="p-4 w-100">
            <div layout:fragment="content">

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:src="@{/js/notificationbell.js}"></script>
</body>
</html>