<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 서비스 메뉴 관리</title>
    <style>
        .location-wrapper {
            position: relative;
            width: 100%;
            margin-bottom: 1.5rem;
        }

        .location-wrap {
            position: absolute;
            top: 1rem;
            left: 0;
        }

        .page-title {
            flex: 1;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
        }
        .custom-link {
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
        .custom-link:hover {
            color: gray; /* 마우스 올리면 회색 */
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            // 세션에서 message를 가져온다
            var message = [[${message}]];

            // message가 null이 아니라면 알림창을 띄우고 세션에서 삭제한다.
            if (message != null && message != '') {
                alert(message);
            }

            var moBtn = $(".modalBtn");
            var modal = $("#myModal");

            // 간편 등록 버튼 클릭 시
            moBtn.on("click", function () {
                console.log("모달 열기");
                modal.modal("show");
                $('.modal-title').text("간편 등록하기");
                $("#saveChanges").show();
                modal.find("input").show();

                //모달로 열었을 때 현재 보는 페이지의 serviceCateId인게 자동으로 카테고리 선택되게끔 하였음 2025-02-20
                const currentServiceCateId = [[${serviceCateId}]];
                $("#modalServiceCateId").val(currentServiceCateId);
            });

            // 삭제 버튼 클릭 시 확인 메시지 표시
            $(".delBtn").click(function (event) {
                // 삭제 전에 확인 메시지 띄우기
                var confirmed = confirm("정말로 삭제하시겠습니까?");

                // 사용자가 확인을 누르면 삭제가 진행됨
                if (!confirmed) {
                    event.preventDefault(); // 삭제 방지
                }
            });

            // 이미지 미리보기
            $("#newImageFiles").change(function(event) {
                previewImage(event);
            });

            // ✅ [폼 제출 시 이미지 검증 및 다른 유효성 검사]
            $("form").submit(function (event) {
                // 간편 등록 모달 폼 유효성 검사
                if ($(this).closest('form').attr('action') === "/manager/roomService/menu/register") {
                    let imageFiles = $("#newImageFiles")[0].files;
                    let serviceMenuName = $("#serviceMenuName").val();
                    let serviceMenuInfo = $("#serviceMenuInfo").val();
                    let serviceMenuQuantity = $("#serviceMenuQuantity").val();
                    let serviceMenuPrice = $("#serviceMenuPrice").val();

                    if (serviceMenuName === "" || serviceMenuInfo === "") {
                        alert("빈칸은 등록할 수 없습니다.");
                        event.preventDefault(); // 폼 제출 방지
                        return false;
                    }

                    if (imageFiles.length === 0) {
                        alert("이미지를 첨부해주세요!");
                        event.preventDefault(); // 폼 제출 방지
                        return false;
                    }

                    if (serviceMenuQuantity < 1 || serviceMenuPrice < 1) {
                        alert("재고수량과 가격은 최소 1 이상이어야 합니다.");
                        event.preventDefault(); // 폼 제출 방지
                        return false;
                    }

                }
            });
        });

        // 이미지 미리보기 함수
        function previewImage(event) {
            var files = event.target.files;
            var imagePreviewContainer = $("#imagePreviewContainer");
            imagePreviewContainer.empty(); // 기존 미리보기 내용 지우기

            // 파일이 선택되었을 경우 처리
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = function(e) {
                    var img = $("<img>").attr("src", e.target.result).attr("width", "100px").addClass("img-thumbnail");
                    imagePreviewContainer.append(img);
                };

                reader.readAsDataURL(file);
            }
        }

        // 파일 입력 필드 초기화 및 기존 이미지 제거
        $("#newImageFiles").click(function() {
            var imagePreviewContainer = $("#imagePreviewContainer");
            imagePreviewContainer.empty();  // 기존 미리보기 이미지 제거
        });
    </script>
    <style>
        .card {
            height: 100%;
        }

        .card-img-top {
            width: 100%;
            height: 150px; /* 원하는 높이로 조정 */
            object-fit: cover; /* 비율을 유지하면서 잘리지 않도록 설정 */
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-text {
            font-size: 0.9rem; /* 폰트 크기 조정 */
        }
    </style>
</head>

<body>
<div id="wrapper" layout:fragment="content">
    <div class="container-fluid mt-4">
        <div class="location-wrapper">
            <div class="location-wrap">
                <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
                <a href="#" class="custom-link"><span>룸서비스관리</span></a> /
                <a th:href="@{/manager/roomService/menu/list(serviceCateId=${serviceCateId})}" class="custom-link"><span>서비스메뉴관리</span></a>
            </div>
            <h2 class="page-title">서비스 메뉴 관리</h2>
        </div>

        <!-- 검색 영역 -->
        <div class="card p-4 mb-4">
            <form action="/manager/roomService/menu/list" method="get">
                <input type="hidden" name="serviceCateId" th:value="${serviceCateId}">
                <div class="row g-3 align-items-center">
                    <h5 class="card-title">카테고리 찾기</h5>
                    <!-- 검색창 -->
                    <div class="col-md-12">
                        <input type="text" name="keyword" class="form-control form-control-lg" placeholder="메뉴명을 입력하세요" aria-label="검색어 입력">
                    </div>
                </div>
                <!-- 조회 버튼 -->
                <!-- searchType 숨겨진 필드 -->
                <input type="hidden" name="searchType" value="name">

                <!-- 상태 검색 라디오 버튼 -->
                <div class="mt-4">
                    <h6>메뉴 상태</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="statusSell" value="SELL"
                               th:checked="${param.status == 'SELL'}">
                        <label class="form-check-label" for="statusSell">판매중</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="statusSoldOut" value="SOLD_OUT"
                               th:checked="${param.status == 'SOLD_OUT'}">
                        <label class="form-check-label" for="statusSoldOut">매진</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="statusAll" value=""
                               th:checked="${param.status == null || param.status == ''}">
                        <label class="form-check-label" for="statusAll">전체</label>
                    </div>
                </div>

                <!-- 조회 버튼 -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary w-25" style="background-color: black">조회</button>
                </div>
            </form>
        </div>



        <!-- 목록 영역 -->
        <div class="card">
            <!-- 카테고리 선택 버튼들 -->
            <div class="mb-3 text-center"> <!-- text-center로 가운데 정렬 -->
                <h5>카테고리 선택</h5>
                <div class="btn-group" role="group" aria-label="Category Buttons">
                    <!-- ADMIN 역할일 때만 전체보기 버튼을 보이도록 조건을 추가 -->
                   <!-- <div sec:authorize="hasRole('ADMIN')">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/manager/roomService/menu/list'">전체보기</button>
                    </div>-->

                    <!-- 카테고리 버튼 목록 -->
                    <th:block th:each="category : ${serviceCateDTOS}">
                        <button type="button" class="btn btn-secondary"
                                th:onclick="'window.location.href=\'/manager/roomService/menu/list?serviceCateId=' + ${category.serviceCateId} + '\''"
                                th:text="${category.serviceCateName}"></button>
                    </th:block>
                </div>
            </div>

            <div class="card-body">
                <h5 class="card-title">서비스 메뉴 목록</h5>

                <!-- 메뉴 카드 그리드 -->
                <div class="row row-cols-1 row-cols-md-5 g-4">
                    <th:block th:if="${#lists.isEmpty(serviceMenuDTOS)}">
                        <div class="col-12">
                            <div class="alert alert-warning" role="alert">
                                등록된 서비스 메뉴가 없습니다.
                            </div>
                        </div>
                    </th:block>

                    <th:block th:unless="${#lists.isEmpty(serviceMenuDTOS)}">
                        <th:block th:each="data, status: ${serviceMenuDTOS}">
                            <div class="col">
                                <div class="card">
                                    <a th:href="@{/manager/roomService/menu/read(serviceMenuId=${data.serviceMenuId})}">
                                        <img th:src="@{'/upload/' + ${data.serviceMenuImageDTOList[0].imagePath}}" class="card-img-top" alt="Service Menu Image">
                                    </a>
                                    <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                        <!-- 카테고리명 가운데 정렬 및 폰트 크기 증가 -->
                                        <p class="card-text text-center" style="font-size: 1.25rem;">
                                            <strong>메뉴명:</strong><span th:text="${data.serviceMenuName}"></span>
                                        </p>
                                        <p class="card-text">
                                            <strong>카테고리명:</strong><span th:text="${data.serviceCateName}"></span>
                                        </p>
                                        <p class="card-text" >
                                            <strong>메뉴설명:</strong><span th:text="${data.serviceMenuInfo}"></span>
                                        </p>
                                        <p class="card-text">
                                            <strong>상태: </strong><span th:text="${data.serviceMenuStatus.description}"></span>
                                        </p>
                                        <p class="card-text">
                                            <strong>재고수량: </strong><span th:text="${data.serviceMenuQuantity}"></span>
                                        </p>
                                        <p class="card-text">
                                            <strong>가격: </strong><span th:text="${data.serviceMenuPrice}"></span>
                                        </p>
                                        <a th:href="@{/manager/roomService/menu/delete(serviceMenuId=${data.serviceMenuId})}" class="btn btn-danger delBtn" style="width: 50px;"><i class="bi bi-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>

                <!-- 추가 버튼 -->
                <div class="text-end mt-3">
                    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="btn btn-primary" style="background-color: purple" th:href="@{/admin/roomService/category/list}">카테고리 관리</a>
                    <a th:if="${#authorization.expression('hasRole(''CHIEF'')')}" class="btn btn-primary" style="background-color: purple" th:href="@{/chief/roomService/category/list}">카테고리 관리</a>
                    <a th:if="${#authorization.expression('hasRole(''MANAGER'')')}" class="btn btn-primary" style="background-color: purple" th:href="@{/manager/roomService/category/list}">카테고리 관리</a>
                    <a th:href="@{/manager/roomService/menu/register(serviceCateId=${serviceCateId})}" class="btn btn-success">등록</a>
                    <button type="button" class="btn btn-primary modalBtn">간편 등록</button>
                </div>

                <!-- 페이지네이션 -->
                <div class="d-flex justify-content-center mt-4">
                    <ul class="pagination">
                        <li class="page-item" th:unless="${pageInfo.startPage == 1}">
                            <a class="page-link" th:href="@{/manager/roomService/menu/list(page=1, serviceCateId=${serviceCateId})}">시작</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.currentPage == 1}">
                            <a class="page-link" th:href="@{/manager/roomService/menu/list(page=${pageInfo.prevPage}, serviceCateId=${serviceCateId})}">이전</a>
                        </li>
                        <th:block th:each="num : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage, 1)}">
                            <li class="page-item" th:unless="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/manager/roomService/menu/list(page=${num}, serviceCateId=${serviceCateId})}" th:text="${num}"></a>
                            </li>
                            <li class="page-item active" th:if="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/manager/roomService/menu/list(page=${num}, serviceCateId=${serviceCateId})}" th:text="${num}"></a>
                            </li>
                        </th:block>
                        <li class="page-item" th:unless="${pageInfo.currentPage >= pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/manager/roomService/menu/list(page=${pageInfo.nextPage}, serviceCateId=${serviceCateId})}">다음</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.endPage == pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/manager/roomService/menu/list(page=${pageInfo.lastPage}, serviceCateId=${serviceCateId})}">끝</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- 모달 - 간편 등록 -->
    <div class="modal" id="myModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">간편등록</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form action="/manager/roomService/menu/register" method="post" enctype="multipart/form-data">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="modalServiceCateId" class="form-label">카테고리:</label>
                            <select class="form-control" id="modalServiceCateId" name="serviceCateId" required>
                                <option value="" disabled selected>카테고리를 선택하세요</option>
                                <th:block th:each="serviceCateDTOS : ${serviceCateDTOS}">
                                    <option th:value="${serviceCateDTOS.serviceCateId}"
                                            th:text="${serviceCateDTOS.serviceCateName}"
                                            th:selected="${serviceCateDTOS.serviceCateId == serviceCateId}">
                                    </option>
                                </th:block>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="serviceMenuName" class="form-label">메뉴 이름:</label>
                            <input type="text" class="form-control" id="serviceMenuName" name="serviceMenuName" minlength="2" required>
                        </div>
                        <div class="mb-3">
                            <label for="serviceMenuInfo" class="form-label">메뉴 설명:</label>
                            <input type="text" class="form-control" id="serviceMenuInfo" name="serviceMenuInfo" minlength="2" required>
                        </div>
                        <div class="mb-3">
                            <label for="serviceMenuStatus" class="form-label">메뉴 상태:</label>
                            <select class="form-control" id="serviceMenuStatus" name="serviceMenuStatus">
                                <option value="SELL">판매중</option>
                                <option value="PREPARE">준비중</option>
                                <option value="SOLD_OUT">매진</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="serviceMenuQuantity" class="form-label">재고수량:</label>
                            <input type="number" class="form-control" id="serviceMenuQuantity" name="serviceMenuQuantity">
                        </div>
                        <div class="mb-3">
                            <label for="serviceMenuPrice" class="form-label">메뉴 가격:</label>
                            <input type="number" class="form-control" id="serviceMenuPrice" name="serviceMenuPrice">
                        </div>

                        <!-- 새 이미지 업로드 및 미리보기 -->
                        <div>
                            <label for="newImageFiles">메뉴이미지:</label>
                            <input type="file" id="newImageFiles" name="imageFiles" accept="image/*">
                            <br><small>이미지를 선택해 주세요.</small>
                        </div>

                        <!-- 미리보기 이미지 표시 -->
                        <div id="imagePreviewContainer"></div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-success">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>