<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>>NTT호텔 - 메뉴 상세 페이지</title>
    <style>
        .custom-link {
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
        .custom-link:hover {
            color: gray; /* 마우스 올리면 회색 */
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">

        // 삭제 버튼 클릭 시 확인 메시지 표시


        $(document).ready(function () {

            $(".delBtn").click(function (event) {
                // 삭제 전에 확인 메시지 띄우기
                var confirmed = confirm("정말로 삭제하시겠습니까?");

                // 사용자가 확인을 누르면 삭제가 진행됨
                if (!confirmed) {
                    event.preventDefault(); // 삭제 방지
                }
            });

            // 세션에서 message를 가져온다
            var message = [[${message}]]

            //message가 null이 아니라면 알림창을 띄우고 세션에서 삭제한다.
            if (message != null && message != '') {
                alert(message)
            }

        })
    </script>

</head>
<body>
<div id="wrapper" layout:fragment="content">

        <div class="container-fluid mt-4">
            <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
            <a href="#" class="custom-link"><span>룸서비스관리</span></a> /
            <a href="/manager/roomService/menu/list" class="custom-link"><span>서비스메뉴관리</span></a> /
            <a th:href="@{/manager/roomService/menu/read(serviceMenuId=${serviceMenuDTO.serviceMenuId})}" class="custom-link"><span>메뉴상세보기</span></a>
            <h2 class="mb-3">메뉴 상세보기</h2>

            <div class="card p-4 mb-4">
                <div class="row g-3 align-items-center">

                    <th:block th:if="${serviceMenuDTO.serviceMenuImageDTOList != 0}">
                        <div th:each="img : ${serviceMenuDTO.serviceMenuImageDTOList}">
                            <!-- 이미지가 있는 경우만 출력 -->
                            <img th:src="@{'/upload/' + ${img.imagePath}}" alt="menu Image" width="300px">

                        </div>
                    </th:block>

                    <th:block th:unless="${serviceMenuDTO.serviceMenuImageDTOList.size() != 0}">
                             <!-- 이미지가 없는 경우만 출력 -->
                            <img src="/img/default_img.jpg" alt="noImage" style="width: 300px"/>
                    </th:block>

                    <h3><a th:text="${serviceMenuDTO.serviceMenuName}">한식</a></h3>
                    <p>카테고리명 : <span th:text="${serviceMenuDTO.serviceCateName}">카테고리명</span></p>
                    <p>메뉴설명 : <span th:text="${serviceMenuDTO.serviceMenuInfo}">메뉴설명</span></p>
                    <p>메뉴상태 : <span th:text="${serviceMenuDTO.serviceMenuStatus.description}">상세정보</span></p>
                    <p>재고수량 : <span th:text="${serviceMenuDTO.serviceMenuQuantity}">재고수량</span></p>
                    <p>메뉴가격 : <span th:text="${serviceMenuDTO.serviceMenuPrice}">메뉴가격</span></p>

                </div>
            </div>

            <!-- 추가 버튼 -->
            <div class="text-end mt-3">
                <a class="btn btn-primary" style="background-color: black" th:href="@{/manager/roomService/menu/list(serviceCateId=${serviceMenuDTO.serviceCateId.serviceCateId})}">목록</a>
                <a class="btn btn-primary" th:href="@{/manager/roomService/menu/update(serviceMenuId=${serviceMenuDTO.serviceMenuId})}">수정</a>
                <a class="btn btn-danger delBtn" th:href="@{/manager/roomService/menu/delete(serviceMenuId=${serviceMenuDTO.serviceMenuId})}"><i class="bi bi-trash"></i></a>
            </div>

        </div>


</div>

</body>
</html>
