<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>>NTT호텔 - 메뉴 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">

        $(document).ready(function () {

            // 세션에서 message를 가져온다
            var message = [[${message}]]

            //message가 null이 아니라면 알림창을 띄우고 세션에서 삭제한다.
            if (message != null && message != '') {
                alert(message)
            }

        })
    </script>

</head>
<body>
<div id="wrapper" layout:fragment="content">

        <div class="container-fluid mt-4">
            <h2 class="mb-3">메뉴 상세보기</h2>

            <div class="card p-4 mb-4">
                <div class="row g-3 align-items-center">

                    <th:block th:if="${serviceMenuDTO.serviceMenuImageDTOList != 0}">
                        <div th:each="img : ${serviceMenuDTO.serviceMenuImageDTOList}">
                            <!-- 이미지가 있는 경우만 출력 -->
                            <img th:src="@{'/upload/' + ${img.imagePath}}" alt="menu Image" width="300px">

                        </div>
                    </th:block>

                    <th:block th:unless="${serviceMenuDTO.serviceMenuImageDTOList.size() != 0}">
                             <!-- 이미지가 없는 경우만 출력 -->
                            <img src="/img/default_img.jpg" alt="noImage" style="width: 300px"/>
                    </th:block>

                    <h3><a th:text="${serviceMenuDTO.serviceMenuName}">한식</a></h3>
                    <p>카테고리명 : <span th:text="${serviceMenuDTO.serviceCateName}">카테고리명</span></p>
                    <p>메뉴설명 : <span th:text="${serviceMenuDTO.serviceMenuInfo}">메뉴설명</span></p>
                    <p>메뉴상태 : <span th:text="${serviceMenuDTO.serviceMenuStatus.description}">상세정보</span></p>
                    <p>재고수량 : <span th:text="${serviceMenuDTO.serviceMenuQuantity}">재고수량</span></p>
                    <p>메뉴가격 : <span th:text="${serviceMenuDTO.serviceMenuPrice}">메뉴가격</span></p>

                </div>
            </div>

            <!-- 추가 버튼 -->
            <div class="text-end mt-3">
                <button class="btn btn-primary" style="background-color: black" onclick="location.href='/roomService/menu/list' ">목록</button>
                <a class="btn btn-primary" th:href="@{/roomService/menu/update(serviceMenuId=${serviceMenuDTO.serviceMenuId})}">수정</a>
                <a class="btn btn-danger" th:href="@{/roomService/menu/delete(serviceMenuId=${serviceMenuDTO.serviceMenuId})}">삭제</a>
            </div>

        </div>


</div>

</body>
</html>
