<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 메뉴 수정</title>
    <style>
        .location-wrapper {
            position: relative;
            width: 100%;
            margin-bottom: 1.5rem;
        }

        .location-wrap {
            position: absolute;
            top: 1rem;
            left: 0;
        }

        .page-title {
            flex: 1;
            text-align: center;
            font-weight: bold;
            margin-bottom: 0;
        }
        .custom-link {
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
        .custom-link:hover {
            color: gray; /* 마우스 올리면 회색 */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:inline="javascript">

        // 이미지 미리보기 함수
        function previewImage(event) {
            console.log("수정 진입");

            const previewContainer = document.getElementById('imagePreviewContainer');
            previewContainer.innerHTML = '';  // 기존 미리보기 이미지 제거

            const files = event.target.files;

            if (files.length > 0) {
                Array.from(files).forEach(file => {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = 'Image Preview';
                        img.style.maxWidth = '200px';  // 미리보기 이미지 크기 조정
                        img.style.marginTop = '10px';
                        previewContainer.appendChild(img);
                    }

                    reader.readAsDataURL(file);  // 이미지 파일을 읽어서 미리보기
                });
            }
        }

        // 폼 제출 전 이미지 첨부 확인 함수
        function validateForm(event) {
            const imageFiles = document.getElementById('newImageFiles').files;

            // 이미지 파일이 첨부되지 않으면 제출을 막고 메시지를 띄운다
            if (imageFiles.length === 0) {
                event.preventDefault();  // 폼 제출을 막는다
                alert('이미지를 첨부해 주세요!');
                return false;
            }

            // 재고수량과 가격이 1 이상인지 확인
            const quantity = document.getElementById('serviceMenuQuantity').value;
            const price = document.getElementById('serviceMenuPrice').value;

            if (quantity < 1 || price < 1) {
                event.preventDefault();
                alert('재고수량과 가격은 최소 1 이상이어야 합니다.');
                return false;
            }

            return true;  // 유효성 검사 통과 시 폼을 제출
        }

    </script>
</head>
<body>
<div id="wrapper" layout:fragment="content">
    <div class="container-fluid mt-4">
        <div class="location-wrapper">
            <div class="location-wrap">
                <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
                <a href="#" class="custom-link"><span>룸서비스관리</span></a> /
                <a th:href="@{/manager/roomService/menu/list(serviceCateId=${serviceMenuDTO.serviceCateId.serviceCateId})}" class="custom-link"><span>서비스메뉴관리</span></a> /
                <a th:href="@{/manager/roomService/menu/update(serviceMenuId=${serviceMenuDTO.serviceMenuId})}" class="custom-link"><span>메뉴수정</span></a>
            </div>
            <h2 class="page-title">메뉴 수정</h2>
        </div>

        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-body">

                        <!--Controller에 multipart 선언 시 전송에서 multipart 지원-->
                        <form th:action="@{/manager/roomService/menu/update}" method="post" enctype="multipart/form-data"
                              th:object="${serviceMenuDTO}" onsubmit="return validateForm(event)">
                            <input type="hidden" name="serviceMenuId" th:field="*{serviceMenuId}">

                            <table class="table">
                                <!--DTO를 참고해서-->
                                <tbody>
                                <tr>
                                    <td style="width: 15%">메뉴이름 :</td>
                                    <td style="width: 85%">
                                        <!-- 최소 2글자 이상 입력하도록 validation 추가 -->
                                        <input type="text" class="form-control" style="width: 300px"
                                               placeholder="카테고리를 입력하세요."
                                               name="serviceMenuName" th:field="*{serviceMenuName}"
                                               minlength="2" required
                                               title="최소 2글자 이상 작성해주세요.">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%">메뉴설명 :</td>
                                    <td style="width: 85%">
                                        <!-- 최소 2글자 이상 입력하도록 validation 추가 -->
                                        <input type="text" class="form-control" style="width: 300px"
                                               placeholder="메뉴 설명을 입력하세요."
                                               name="serviceMenuInfo" th:field="*{serviceMenuInfo}"
                                               minlength="2" required
                                               title="최소 2글자 이상 작성해주세요.">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%">메뉴상태 :</td>
                                    <td style="width: 85%">
                                        <label for="serviceMenuStatus" class="col-sm-3 col-form-label">메뉴상태</label>
                                        <select class="form-control" id="serviceMenuStatus" name="serviceMenuStatus" th:field="*{serviceMenuStatus}">
                                            <option value="SELL">판매중</option>
                                            <option value="SOLD_OUT">매진</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%">재고수량 :</td>
                                    <td style="width: 85%">
                                        <input type="number" class="form-control" style="width: 300px"
                                               placeholder="1이상 입력하세요."
                                               name="serviceMenuQuantity" th:field="*{serviceMenuQuantity}">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%">메뉴가격 :</td>
                                    <td style="width: 85%">
                                        <input type="number" class="form-control" style="width: 300px"
                                               placeholder="1이상 입력하세요."
                                               name="serviceMenuPrice" th:field="*{serviceMenuPrice}">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%">메뉴이미지 :</td>
                                    <td style="width: 85%">
                                        <!-- 이미지 파일 업로드 -->
                                        <input type="file" class="form-control" style="width: 300px"
                                               name="imageFiles" id="newImageFiles">
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-pen"></i></button>  &nbsp&nbsp&nbsp
                                <a class="btn btn-primary" style="background-color: black" th:href="@{/manager/roomService/menu/list(serviceCateId=${serviceMenuDTO.serviceCateId.serviceCateId})}">목록</a>
                                &nbsp&nbsp&nbsp
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
