<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>NTT호텔 - 본사 등록</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/user.css}">

  <script th:inline="javascript">

    // 이미지 미리보기 함수
    function previewImage(event) {

      console.log("수정 진입")

      const previewContainer = document.getElementById('imagePreviewContainer');
      previewContainer.innerHTML = '';  // 기존 미리보기 이미지 제거

      const files = event.target.files;

      if (files.length > 0) {
        Array.from(files).forEach(file => {
          const reader = new FileReader();

          reader.onload = function(e) {
            const img = document.createElement('img');
            img.src = e.target.result;
            img.alt = 'Image Preview';
            img.style.maxWidth = '200px';  // 미리보기 이미지 크기 조정
            img.style.marginTop = '10px';
            previewContainer.appendChild(img);
          }

          reader.readAsDataURL(file);  // 이미지 파일을 읽어서 미리보기
        });
      }
    }
  </script>

</head>
<body>
<div id="wrapper" layout:fragment="content">

  <div class="container-fluid mt-4">

    <h2 class="mb-3">본사 등록</h2>

    <!-- 폼 -->
    <div class="card p-4 mb-4">
      <div class="row g-3 align-items-center">
        <form action="/company/register" method="post" enctype="multipart/form-data">
          <div class="mb-3 mt-3">
            <label for="companyName" class="form-label">본사명:</label>
            <input type="text" class="form-control" id="companyName" name="companyName">
          </div>
          <div class="mb-3 mt-3">
            <!--나중에 자동으로 서비스에서 등록되도록 바꿀 것-->
            <label for="companyManager" class="form-label">본사 관리자명:</label>
            <input type="text" class="form-control" id="companyManager" name="companyManager">
          </div>
          <!-- 새 이미지 업로드 및 미리보기 -->
          <div>
            <label for="newImageFiles">본사이미지:</label>
            <input type="file" id="newImageFiles" name="imageFiles" multiple onchange="previewImage(event)">
            <small>이미지를 선택해 주세요.</small>
          </div>

          <!-- 미리보기 이미지 표시 -->
          <div id="imagePreviewContainer">
            <!-- 미리보기가 여기 나타날 것입니다 -->
          </div>

          <div style="text-align: right">
            <button type="submit" class="btn btn-primary">등록</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

</body>
</html>