<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>NTT호텔 - 본사 등록</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
<div id="wrapper" layout:fragment="content">

  <div class="container-fluid mt-4">

    <h2 class="mb-3">본사 등록</h2>

    <!-- 폼 -->
    <div class="card p-4 mb-4">
      <div class="row g-3 align-items-center">
        <form action="/company/register" method="post" enctype="multipart/form-data">
          <div class="mb-3 mt-3">
            <label for="companyName" class="form-label">본사명:</label>
            <input type="text" class="form-control" id="companyName" name="companyName">
          </div>
          <div class="mb-3 mt-3">
            <!--나중에 자동으로 서비스에서 등록되도록 바꿀 것-->
            <label for="companyManager" class="form-label">본사관리자명:</label>
            <input type="text" class="form-control" id="companyManager" name="companyManager">
          </div>
          <p style="color: #fff;">대표이미지 : </p><input style="color: #fff" class="File mb-3" type="file" name="imageFiles">
          <div style="text-align: right">
            <button type="submit" class="btn btn-primary">등록</button>
          </div>
        </form>
      </div>
    </div>

  </div>

</body>
</html>