<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 본사관리</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:inline="javascript">

        $(document).ready(function () {

            // 세션에서 message 값을 가져옴
            var message = [[${message}]];

            // message가 null이 아니면 알림창을 띄우고 세션에서 삭제
            if (message !== null && message !== '') {
                alert(message);
            }

            var moBtn = $(".modalBtn")
            var modal = $("#myModal")

            moBtn.off().on("click", function () {
                //모달 열기
                modal.modal("show")

                $('.modal-title').text("간편 등록하기")

                $("#saveChanges").show()
                modal.find("input").show();
            }) //modBtn 끝

            $(".submitBtn").off().on("click", function () {
                alert("글 작성이 완료되었습니다.");
            }) //submitBtn 끝


            // $(".delBtn").off.on("click" , function (e) {
            //
            //     e.preventDefault()
            //     if (confirm("정말 해당 본사를 삭제하시겠습니까??") == true) {    //확인
            //
            //         let a = $(this).find('span:eq(0)')  //jquery
            //         console.log(a)
            //         deleteCompany(a);
            //
            //     } else {}
            //
            // }) //delBtn 끝

        })


        // 삭제버튼을 눌렀을때 진행하는
        // function deleteCompany(obj){
        //
        //     var companyId = [[${companyId}]]    //아이템의 아이디를 가져온다.
        ///company/remove/" + companyId
        // /company/list"
        //
        //     console.log(companyId)
        //
        //     // alert(url);
        //
        //     $.ajax({
        //         url :url,
        //         type : "get" ,
        //         dataType : "json",
        //         success : function (result) {
        //
        //            /company/list';
        //         },
        //         error : function (result, status, error) {
        //
        //             if(result.status == '401'){
        //                 // alert(result.responseText+'로그인 후 이용해주세요');
        //                 alert('로그인 후 이용해주세요');
        //                 location.href = '/user/login';
        //             }else if(result.status == '200') {
        //                 alert(result.responseText + " 글을 삭제 완료 했습니다")
        //                /company/list';
        //             }else {
        //                 /*여긴 또 잘 지워짐 ㅇㅅㅇ*/
        //                 // alert("글을 삭제 완료 했습니다")
        //                 alert("확인요망 : " + result.responseText )
        //                 alert("확인요망 : " + result.status )
        //                 location.href=url1;
        //             }
        //         }
        //     })
        //     //삭제버튼은 버튼자체의 태그를 갖는다.
        // }

        //이미지파일 검사
        function validateImage(event) {
            var files = event.target.files;
            var maxSize = 10 * 1024 * 1024; // 10MB 제한
            var allowedExt = ["jpg", "jpeg", "gif", "png", "bmp", "jfif", "webp"];

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var fileName = file.name;
                var fileSize = file.size;
                var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1).toLowerCase();

                // 확장자 검사
                if (!allowedExt.includes(fileExt)) {
                    alert("이미지 파일(PNG, JPG, GIF, BMP)만 업로드 가능합니다.");
                    event.target.value = ""; // 입력 필드 초기화
                    return;
                }

                // 파일 크기 검사
                if (fileSize > maxSize) {
                    alert("파일 크기가 10MB를 초과할 수 없습니다.");
                    event.target.value = ""; // 입력 필드 초기화
                    return;
                }
            }
        }

    </script>

</head>
<body>

<div id="wrapper" layout:fragment="content">
    <div class="container-fluid mt-4">
        <h2 class="mb-3">호텔 본사 관리</h2>
        <!-- 검색 영역 -->
        <div class="card p-4 mb-4">
            <form action="/company/list" method="get">
                <div class="row g-3 align-items-center">
                    <h5 class="card-title">본사 찾기</h5>
                    <div class="col-md-6">
                        <select name="searchType" class="form-select">
                            <option value="name" th:selected="${searchType == 'name'}">회사명</option>
                            <option value="manager" th:selected="${searchType == 'manager'}">관리자명</option>
                            <option value="both" th:selected="${searchType == 'both'}">회사명 + 관리자명</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="keyword" class="form-control" placeholder="검색어를 입력하세요">
                    </div>
                </div>
                <!-- 조회 버튼 -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary w-25" style="background-color: black">조회</button>
                </div>
            </form>
        </div>

        <!-- 목록 영역 -->

        <div>


        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">본사 목록</h5>
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th style="width: 13%">이미지</th>
                        <th style="width: 27%">본사명</th>
                        <th style="width: 20%">관리자명</th>
                        <th style="width: 13%">지사수</th>
                        <!--<th style="width: 10%">매장수</th>-->
                        <th style="width: 15%">삭제</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:unless="${#lists.isEmpty(companyDTOS)}"><!--값이 없으면이 아니면(있으면)-->
                        <tr th:each="data:${companyDTOS}">
<!--                            <td th:text="${data.companyId}">1</td>-->
                            <td class="align-middle text-center" style="height: 100px">
                                <img th:if="${data.companyImgDTOList != null and !data.companyImgDTOList.isEmpty()}"
                                     th:src="@{'/upload/' + ${data.companyImgDTOList[0].imagePath}}"
                                     alt="Room Image"
                                     class="room-image" width="100px" >
                                <span th:if="${data.companyImgDTOList == null or data.companyImgDTOList.isEmpty()}">
                                    <img src="/img/default_img.jpg" width="100px">
                                </span>
                            </td>
                            <td class="align-middle text-center">
                                <a th:href="@{/company/read(companyId=${data.companyId})}" style="text-decoration: none" th:text="${data.companyName}">NTT호텔</a>
                            </td>
                            <td th:text="${data.companyManager}" class="align-middle text-center">우리</td>
                            <!--나중에 지사수, 매장수 업데이트할거임~!-->
                            <td th:text="${data.hotelCount}" class="align-middle text-center">2</td>
                            <!--<td class="align-middle text-center">2</td>-->
                            <td class="align-middle text-center">
                                <a th:href="@{company/read(hotelId=${data.companyId})}" class="btn btn-info btn-sm">보기</a>
                                <a th:href="@{company/update(hotelId=${data.companyId})}"  class="btn btn-warning btn-sm">수정</a>

                                <!--삭제 버튼 누르면 해당 본사 삭제됨-->
                                <a th:href="@{/company/delete(companyId=${data.companyId})}" style="text-decoration: none" class="btn btn-danger btn-sm" onclick="return confirm('진짜로 삭제하시겠습니까?')">삭제</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>

                <th:block th:if="${#lists.isEmpty(companyDTOS)}"><!--받아온 값이 없으면-->
                    <div style="text-align: center">
                        <p>등록된 본사가 없습니다.</p>
                    </div>
                </th:block>


                <!-- 추가 버튼 -->
                <div class="text-end mt-3">
                    <button class="btn btn-primary" style="background-color: black" onclick="location.href='/company/register' ">등록</button>
                    <button type="button" class="btn btn-primary modalBtn">간편 등록</button>
                </div>


                <!-- 페이지네이션 -->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" th:unless="${pageInfo.startPage == 1}">
                            <a class="page-link" th:href="@{/company/list(page=1)}">시작</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.currentPage == 1}">
                            <a class="page-link" th:href="@{/company/list(page=${pageInfo.prevPage})}">이전</a>
                        </li>
                        <th:block th:each="num : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage, 1)}">
                            <li class="page-item" th:unless="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/company/list(page=${num})}" th:text="${num}">1</a>
                            </li>
                            <li class="page-item active" th:if="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/company/list(page=${num})}" th:text="${num}">[[${num}]]</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:unless="${pageInfo.currentPage >= pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/company/list(page=${pageInfo.nextPage})}">다음</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.endPage == pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/company/list(page=${pageInfo.lastPage})}">끝</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <!--모달-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">간편등록</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

              <form action="/company/register" method="post" enctype="multipart/form-data">

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="companyName" class="form-label">본사명:</label>
                            <input type="text" class="form-control" id="companyName" name="companyName">
                        </div>
<!--                        <div class="mb-3 mt-3">-->
<!--                            &lt;!&ndash;나중에 자동으로 서비스에서 등록되도록 바꿀 것&ndash;&gt;-->
<!--                            <label for="companyManager" class="form-label">본사 관리자명:</label>-->
<!--                            <input type="text" class="form-control" id="companyManager" name="companyManager">-->
<!--                        </div>-->
                        <!-- 새 이미지 업로드 및 미리보기 -->
                        <div>
                            <label for="newImageFiles">본사이미지:</label>
                            <input type="file" id="newImageFiles" name="imageFiles" multiple accept="image/*" onchange="validateImage(event)">
                            <small>이미지 파일(PNG, JPG, GIF, BMP, JFIF, WEBP)만 업로드 가능합니다.</small>
                        </div>

                        <!-- 미리보기 이미지 표시 -->
                        <div id="imagePreviewContainer">
                            <!-- 미리보기가 여기 나타날 것입니다 -->
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">등록</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

</body>
</html>