<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>NTT호텔 - 본사 등록</title>
  <style>
    .custom-link {
      color: black;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
    }
    .custom-link:hover {
      color: gray; /* 마우스 올리면 회색 */
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/company.js}"></script>

  <script th:inline="javascript">

    // 폼 제출 시 커스터마이즈된 오류 메시지 처리
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('form');
      const companyNameInput = document.getElementById('companyName');

      form.addEventListener('submit', function(event) {
        // 'companyName' 필드가 비어있으면 오류 메시지 표시
        if (!companyNameInput.value.trim()) {
          companyNameInput.setCustomValidity('본사명을 입력해주세요.');
        } else {
          companyNameInput.setCustomValidity('');  // 유효성 검사 통과
        }
      });

    })


  </script>

</head>
<body>
<div id="wrapper" layout:fragment="content">

  <div class="container-fluid mt-4">
    <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
    <a href="#" class="custom-link"><span>호텔관리</span></a> /
    <a href="/chief/company/list" class="custom-link"><span>호텔본사관리</span></a> /
    <a href="/chief/company/register" class="custom-link"><span>본사등록</span></a>
    <h2 class="mb-3">본사 등록</h2>

    <!-- 폼 -->
    <div class="card p-4 mb-4">
      <div class="row g-3 align-items-center">
        <form action="/chief/company/register" method="post" enctype="multipart/form-data">
          <div class="mb-3 mt-3">
            <label for="companyName" class="form-label">본사명:</label>
            <input type="text" class="form-control" id="companyName" name="companyName" required>
          </div>
<!--          <div class="mb-3 mt-3">-->
<!--            &lt;!&ndash;나중에 자동으로 서비스에서 등록되도록 바꿀 것&ndash;&gt;-->
<!--            <label for="companyManager" class="form-label">본사 관리자명:</label>-->
<!--            <input type="text" class="form-control" id="companyManager" name="companyManager">-->
<!--          </div>-->
          <!-- 새 이미지 업로드 및 미리보기 -->
          <div>
            <label for="newImageFiles">본사이미지:</label>
            <input type="file" id="newImageFiles" name="imageFiles" multiple accept="image/*" onchange="validateImage(event)"  required>
            <small>이미지 파일(PNG, JPG, GIF, BMP, JFIF, WEBP)만 업로드 가능합니다. 1장만 선택해주세요</small>
          </div>

          <!-- 미리보기 이미지 표시 -->
          <div id="imagePreviewContainer">
            <!-- 미리보기가 여기 나타날 것입니다 -->
          </div>

          <div style="text-align: right">
            <button type="submit" class="btn btn-primary">등록</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

</body>
</html>