<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>NTT호텔 - 본사 등록</title>
  <style>
    .custom-link {
      color: black;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
    }
    .custom-link:hover {
      color: gray; /* 마우스 올리면 회색 */
    }
  </style>

  <!-- jQuery CDN 추가 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/pagination.css}">
  <script th:src="@{/js/company.js}"></script>

  <script th:inline="javascript">


    // 폼 제출 시 커스터마이즈된 오류 메시지 처리
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('form');
      const companyNameInput = document.getElementById('companyName');

      form.addEventListener('submit', function(event) {
        // 'companyName' 필드가 비어있으면 오류 메시지 표시
        if (!companyNameInput.value.trim()) {
          companyNameInput.setCustomValidity('본사명을 입력해주세요.');
        } else {
          companyNameInput.setCustomValidity('');  // 유효성 검사 통과
        }
      });

    })

    //회원 선택 후 자동 회원아이디 추가
    function updateMemberId() {
      var selectBox = document.getElementById('companyManager');
      var selectedOption = selectBox.options[selectBox.selectedIndex];

      // 선택된 option에서 memberId 값을 data-id 속성에서 가져오기
      var memberId = selectedOption.getAttribute('data-id');

      // 숨겨진 input에 memberId 값 설정
      document.getElementById('memberId').value = memberId;
    }

    // 페이지 로드 시 자동으로 셀렉트박스의 값이 하나일 경우 자동으로 input에 값 설정
    $(document).ready(function() {
      console.log("들어왔니?");

      var selectBox = $('#companyManager');  // 셀렉트박스 선택

      // 셀렉트박스에 옵션이 하나만 있을 때
      if (selectBox.find('option').length === 1) {
        // 첫 번째 옵션을 자동으로 선택
        selectBox.prop('selectedIndex', 0);

        // 첫 번째 option에서 data-id 값을 찾아서 input에 설정
        var selectedOption = selectBox.find('option').first();  // 첫 번째 option 선택
        var memberId = selectedOption.attr('data-id');  // data-id 속성 값 가져오기
        console.log("selected memberId: " + memberId);  // 값 확인용 콘솔 출력
        $('#memberId').val(memberId);  // 숨겨진 input에 memberId 값 설정
      }
    });

    document.addEventListener('keydown', function(event) {
      if ((event.keyCode || event.which) === 13) {
        event.preventDefault();
      }
    }, true);


  </script>

</head>
<body>
<div id="wrapper" layout:fragment="content">

  <div class="container-fluid mt-4">
    <div class="location-wrapper">
      <div class="location-wrap">
        <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
        <a href="#" class="custom-link"><span>호텔관리</span></a> /
        <a href="/admin/company/list" class="custom-link"><span>호텔본사관리</span></a> /
        <a href="/admin/company/register" class="custom-link"><span>본사등록</span></a>
      </div>
      <h1 class="page-title">본사 등록</h1>
    </div>

    <!-- 폼 -->
    <div class="card p-4 mb-4">
      <div class="row g-3 align-items-center">
        <form action="/admin/company/register" method="post" enctype="multipart/form-data">
          <div class="mb-3 mt-3">
            <label for="companyName" class="form-label">본사명:</label>
            <input type="text" class="form-control" id="companyName" name="companyName" required>
          </div>
          <div class="mb-3 mt-3">
            <label for="companyManager" class="form-label">담당자:</label>
            <select id="companyManager" name="companyManager" class="form-select" onchange="updateMemberId(); checkHotelManagerSelection();" required>
              <option value="" disabled selected>담당자를 선택해주세요</option>
              <th:block th:each="memberDTO : ${memberDTOS}">
                <option th:value="${memberDTO.memberName}" th:text="${memberDTO.memberName}" th:data-id="${memberDTO.memberId}">김호텔장</option>
              </th:block>
              <th:block th:if="${#lists.isEmpty(memberDTOS)}">
                <option value="" disabled>표시할 호텔장이 없습니다. 먼저 호텔장 가입 후 등록해주세요.</option>
              </th:block>
            </select>

            <!-- 선택된 담당자의 memberId를 저장할 숨겨진 input -->
            <input type="hidden" id="memberId" name="memberId" required>
          </div>
          <!-- 새 이미지 업로드 및 미리보기 -->
          <div>
            <label for="newImageFiles">본사이미지:</label>
            <input type="file" id="newImageFiles" name="imageFiles" multiple accept="image/*" onchange="validateImage(event)" required>
            <small>이미지 파일(PNG, JPG, GIF, BMP, JFIF, WEBP)만 업로드 가능합니다. 1장만 선택해주세요</small>
          </div>

          <!-- 미리보기 이미지 표시 -->
          <div id="imagePreviewContainer">
            <!-- 미리보기가 여기 나타날 것입니다 -->
          </div>

          <div style="text-align: right">
            <button type="submit" class="btn btn-primary submitBtn">등록</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

</body>
</html>