<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>공지사항 상세보기</title>
  <style>
    .container{
      margin-top: 20px;
      margin-bottom: 100px;
    }
    .custom-link {
      color: black;
      text-decoration: none;
      margin-bottom: 10px;
      display: inline-block;
    }
    .custom-link:hover {
      color: gray; /* 마우스 올리면 회색 */
    }
  </style>
  <!--반응형웹-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--부트스트랩-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
  <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
  <a href="/notice/list" class="custom-link"><span>공지사항</span></a> /
  <a th:href="@{/notice/read(noticeId=${noticeDTO.noticeId})}" class="custom-link"><span>공지사항상세보기</span></a>
<!--<div th:replace="~{fragments/header::header}"></div>-->
<div id="container" class="container">
  <div id="row" class="row">
    <div class="col-3"></div>
    <div class="col-6">
              <!--디자인-->
        <div class="card">
          <div class="card-header text-center">
            <h2 >공지사항 상세보기</h2></div>
          <div class="card-body">
            <!--Controller에서 model.addAttribute 명 :board-->
            <!--board.DTO 변수명-->
<!--            <p>번호: <span th:text="${noticeDTO.noticeId}"></span></p>-->

<!--            <p>번호: <span th:each="data, stat : ${noticeDTOList}" th:text="${stat.index+1}"></span></p>-->
            <p>제목: <span th:text="${noticeDTO.noticeTitle}"></span></p>
            <p>내용: <span th:text="${noticeDTO.noticeContent}"></span></p>
<!--            <td style="width:20%">-->
<!--              <th:block th:if="${noticeDTO.noticeImageDTOList} == null">-->
<!--                <img src="images/no_image.jpg" width="200px" height="150px">-->
<!--              </th:block>-->
<!--            <div th:if="${noticeDTO.noticeImageDTOList != null}"-->
<!--                 th:each="img : ${noticeDTO.noticeImageDTOList}">-->
<!--              <img th:src="@{'/upload/' + (img.imagePath != null ? img.imagePath : 'default.jpg')}"-->
<!--                   width="300px" height="200px">-->
<!--            </div>-->
              <div th:each="img : ${noticeDTO.noticeImageDTOList}"><!--그림파일이 존재하면-->
                <img th:src="@{'/upload/' + ${img.imagePath}}" width="300px" height="200px">
              </div>
<!--            </td>-->
            <!--id와 name은 DTO에 변수명으로 작업-->

          </div>
          <div class="card-footer">
            <form th:action="@{/notice/update}" method="post" enctype="multipart/form-data">
            <a th:href="@{/notice/update(noticeId=${noticeDTO.noticeId})}" class="btn btn-primary">수정</a>

            <button type="button" class="btn btn-danger"
                    th:onclick="|location.href='@{/notice/list}'|">취소</button>
            <!--@{주소}, 문자열+주소 |문자열@{주소}|-->
            </form>
          </div>
        </div>
    </div>
    <div class="col-3"></div>
  </div><!--row 끝-->
</div><!--container 끝-->
<!--<div th:replace="~{fragments/footer::footer}"></div>-->
</body>
</html>