<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 서비스 카테고리 등록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="wrapper" layout:fragment="content">
    <div class="container-fluid mt-4">


    <div class="row">
        <div class="col-1"></div><!--좌여백-->
        <div class="col-10">
            <h2>카테고리 등록</h2>

            <div class="card">
                <div class="card-body">

                    <!--Controller에 multipart 선언 시 전송에서 multipart 지원-->
                    <form th:action="@{/roomService/category/register}" method="post" enctype="multipart/form-data"
                    th:object="${serviceCateDTO}">
                        <table class="table">
                            <!--DTO를 참고해서-->
                            <tbody>
                            <tr>
                                <td style="width: 15%">카테고리 이름 :</td>
                                <td style="width: 85%">
                                    <input type="text" class="form-control" style="width: 300px"
                                           placeholder="카테고리를 입력하세요."
                                           name="serviceCateName" th:field="*{serviceCateName}"
                                           minlength="2" required
                                           title="최소 2글자 이상 작성해주세요.">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 15%">카테고리 이미지 :</td>
                                <td style="width: 85%">
                                    <!--컨트롤러에 MultipartFile imageFile 이름과 동일하게
                                    DTO의 파일명은 아무상관 없음-->
                                    <input type="file" class="form-control" style="width: 300px"
                                           name="imageFile">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">등록</button> &nbsp&nbsp&nbsp
                            <button class="btn btn-primary" style="background-color: black" onclick="location.href='/roomService/category/list' ">목록</button>
                            &nbsp&nbsp&nbsp
                            <button type="reset" class="btn btn-secondary">초기화</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1"></div><!--우여백-->
    </div>
</div>
</div>

</body>
</html>