/* 객실 상세보기 페이지 CSS */

.container {
    margin: 0 auto;
    padding: 1.25rem 0;
}

/* banner img */

.room-banner {
    width: 100vw;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.room-banner .banner-container {

}

.room-banner .banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* banner text */

.room-banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}

.room-banner .banner-text p {
    display: inline-block;
    letter-spacing: 2px;
    color: #fff;
    font: 400 4rem 'Playfair Display', 'Noto Sans KR', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    width: 0;
    animation: typing 2s steps(30, end) forwards;
}

.room-banner .banner-text p.typed {
    border-right: none;
}


.banner-overlay {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.reservation-info-wrapper {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 2rem 0;
    top: 0;
    border-radius: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.reservation-info-wrapper.scrolled {
    background-color: rgba(248, 249, 250, 0.9);
    padding: 1rem 0;
}

.reservation-info {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 예약 정보 버튼 스타일 */
.reservation-info-wrapper .reservation-info button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 0;
    margin-left: .75rem;
}

.reservation-info-wrapper .reservation-info div:last-child {
    display: flex;
    gap: .25rem;
}


.reservation-info-wrapper .reservation-info .period {
    margin: 0;
    font-size: 1.5rem;
}

.reservation-info-wrapper .reservation-info button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 0;
}

/* 공유하기 버튼  */
.btn-outline-dark:hover {
    background-color: #000000;
    color: white;
}

#shareModal .modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

#shareModal .modal-title {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0; !important;
    flex: 1;
}

#shareModal .btn-close {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
}

#shareModal .share-modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#shareModal .share-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 0px;
    border: none !important;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}


#shareModal .modal-body {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding :1.25rem;
}

#shareModal .modal-body button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 14px;
    background-color: white;
    border: 1px solid #ddd;
    transition: 0.3s ease-in-out;
}

#shareModal .modal-body button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

/* 공유 버튼 아이콘 크기 키우기 */
#shareModal .modal-body button i {
    font-size: 28px;
    margin-bottom: 8px;
}

/* 공유 버튼 내부 텍스트 스타일 */
#shareModal .modal-body button span {
    font-size: 16px;
}

/* 예약하기 버튼  */

#reservationModal .modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

#reservationModal .modal-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    flex: 1;
    font-size: 1.5rem;
    margin: 0;
}

#reservationModal .btn-close {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
}

.btn-dark {
    background-color: #000000 !important;
}

.btn-dark.btn-book:hover {
    background-color: transparent !important;
    color: #000000 !important;
    border: 1px solid black !important;
}

.btn-dark.btn-book:hover i {
    color: #000000 !important;
}

/* 체크인 체크아웃 */

.flatpickr-day.inRange {
    background: #ecf3fe !important;
    border-color: #ecf3fe !important;
    box-shadow: -5px 0 0 #ecf3fe, 5px 0 0 #ecf3fe;
}

/* 숙박 하기 텍스트 */
.time-text {
    color:orange;
    font-weight: bold;
}

/* 주요 혜택 */
.room-item-wrapper {
    margin-top: 20px;
}

.room-item-wrapper .room-item .room-item-box {
    display: flex;
    gap: 3rem;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.room-item-wrapper .room-item .room-item-box.active {
    opacity: 1;
    transform: translateX(0);
}

.room-text {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.room-text.active {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.5s;
}

.room-details {
    margin: 0 auto;
}

.room-details .main-text {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-text::after {
    content: "";
    flex: 1;
    height: 5px;
    background-color: #FFD700;
    margin-left: 1rem;
}

.main-text::before{
    content: "";
    flex: 1;
    height: 5px;
    background-color: #FFD700;
    margin-right: 1rem;
}

.room-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.room-image {
    position: relative;
    overflow: hidden;
    height: auto;
}

.room-image img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.room-image img:hover {
    transform: scale(1.05);
}


.room-details-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.room-details-description {
    font-size: 1rem;
    color: #666;
    line-height: 2;
    white-space: pre-line;
}

.room-divider {
    margin: 2rem 0;
    border: none;
    border-top: 2px solid #000000;
}

/* 유의사항 */
.notice {
    background-color: #f8f9fa;
    margin-bottom: 4rem;
}

.notice h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notice ul {
    padding-left: 20px;
}

.notice li {
    font-size: 14px;
    margin-bottom: 5px;
}

/* 리뷰 */
.review-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.review-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.review-form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.review-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.review-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #666;
}

.review-meta .review-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.review-meta .review-date {
    font-size: 12px;
    color: gray;
}

.review-stars {
    font-size: 1.25rem;
    color: gold;
}

.review-text {
    margin-top: 10px;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}

.review-buttons {
    margin-top: 10px;
    text-align: right;
}

.review-buttons button {
    margin-left: 5px;
    font-size: 12px;
}

#star-rating {
    display: flex;
    gap: 5px;
    font-size: 1.75rem;
    cursor: pointer;
    position: relative;
}

#star-rating .star {
    color: #ccc;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

#star-rating .star:hover {
    color: gold;
    transform: scale(1.2);
}

/* 클릭한 별점 강조 */
#star-rating .star.selected {
    color: gold;
}

#star-click-hint {
    position: absolute;
    top: -15px;
    left: 140px;
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(-15deg);
    animation: clickHintBlink .8s infinite alternate;
}


/* 별점 별도 색상 적용 */
.rating-5 { color: gold !important;}
.rating-4 { color: green !important;}
.rating-3 { color: blue !important;}
.rating-2 { color: orange !important;}
.rating-1 { color: red !important;}

#star-rating .star.selected {
    color: gold;
}

.submit-btn-wrap {
    text-align: center;
}

.custom-btn {
    width: 150px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-11 {
    border: none;
    background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
    opacity: .7;
}
.btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

/* More 버튼 */
.real-more {
    display: block;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}

.real-more:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* 상단으로 이동 버튼 스타일 */
.scroll-top-btn {
    position: fixed;
    bottom: 100px;
    right: 80px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
    z-index: 1000;
}

/* 버튼이 보일 때 */
.scroll-top-btn.show {
    opacity: 1;
    transform: translateY(0);
}

/* 버튼 hover 효과 */
.scroll-top-btn:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

/* 예약 문의 */
.contact-info {
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ffeeba;
}

.contact-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 5px;
}


.btn10 {
    text-transform: uppercase!important;
    text-transform: capitalize;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:10;
}

.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #e9f4ff;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
}

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #47b7f6;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before{
    opacity:1;
    width: 116%;
}
.btn10:hover::after{
    opacity:1;
    width: 120%;
}

/* --------------- 애니메이션 -------------- */

@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

@keyframes clickHintBlink {
    0% {
        opacity: 1;
        transform: rotate(15deg) scale(1);
    }
    100% {
        opacity: 0.5;
        transform: rotate(25deg) scale(1.1);
    }
}

/* 타이핑 효과 */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* 커서 깜빡임 효과 */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}


/* ---------------------- 반응형 --------------------- */

@media (max-width: 768px) {
    .room-item {
        flex-direction: column;
    }

    .room-image {
        max-height: 200px;
    }

    .room-title {
        font-size: 20px;
    }

    .room-description {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .review-section {
        padding: 15px;
    }

    .review-box {
        padding: 10px;
    }

    .review-text {
        font-size: 14px;
    }
}