/* 객실 상세보기 페이지 CSS */

/* 전체 컨테이너 */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem 0;
}

/* 배너 이미지 */
.room-banner {
    width: 100vw;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.room-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.banner-overlay {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.reservation-info-wrapper {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 2rem 0;
    top: 0;
    border-radius: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.reservation-info-wrapper.scrolled {
    background-color: rgba(248, 249, 250, 0.9);
    padding: 1rem 0;
}

.reservation-info {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 예약 정보 버튼 스타일 */
.reservation-info-wrapper .reservation-info button {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 0;
    margin-left: .75rem;
}

.reservation-info-wrapper .reservation-info div:last-child {
    display: flex;
    gap: .25rem;
}


.reservation-info-wrapper .reservation-info .period {
    margin: 0;
    font-size: 1.5rem;
}

.reservation-info-wrapper .reservation-info button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border-radius: 0;
}

/* 공유하기 버튼  */
.btn-outline-dark:hover {
    background-color: #000000;
    color: white;
}

/* 예약하기 버튼  */

.btn-dark {
    background-color: #000000 !important;
}

.btn-dark.btn-book:hover {
    background-color: transparent !important;
    color: #000000 !important;
    border: 1px solid black !important;
}

.btn-dark.btn-book:hover i {
    color: #000000 !important;
}

/* 주요 혜택 */
.room-item-wrapper {
    margin-top: 20px;
}

.room-item-wrapper .room-item .room-item-box {
    display: flex;
    gap: 3rem;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.room-item-wrapper .room-item .room-item-box.active {
    opacity: 1;
    transform: translateX(0);
}

.room-details {
    max-width: 1200px;
    margin: 0 auto;
}

.room-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.room-image {
    position: relative;
    overflow: hidden;
    height: auto;
}

.room-image img {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.room-image img:hover {
    transform: scale(1.05);
}


.room-details-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.room-details-description {
    font-size: 1rem;
    color: #666;
    line-height: 2;
    white-space: pre-line;
}

.room-divider {
    margin: 2rem 0;
    border: none;
    border-top: 2px solid #000000;
}

/* 유의사항 */
.notice {
    background-color: #f8f9fa;
    padding: 20px;
}

.notice h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notice ul {
    padding-left: 20px;
}

.notice li {
    font-size: 14px;
    margin-bottom: 5px;
}

/* 리뷰 */
.review-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.review-box {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    border: 1px solid #ddd;
}


.review-form-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.review-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.review-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: #666;
}

.review-meta .review-name {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.review-meta .review-date {
    font-size: 12px;
    color: gray;
}

.review-stars {
    font-size: 1.25rem;
    color: gold;
}

.review-text {
    margin-top: 10px;
    font-size: 16px;
    color: #444;
    line-height: 1.5;
}

#submitReview {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#submitReview:hover {
    background-color: #0056b3;
}

.review-buttons {
    margin-top: 10px;
    text-align: right;
}

.review-buttons button {
    margin-left: 5px;
    font-size: 12px;
}

#star-rating {
    display: flex;
    gap: 5px;
    font-size: 1.75rem;
    cursor: pointer;
    position: relative;
}

#star-rating .star {
    color: #ccc;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

#star-rating .star:hover {
    color: gold;
    transform: scale(1.2);
}

/* 클릭한 별점 강조 */
#star-rating .star.selected {
    color: gold;
}

#star-click-hint {
    position: absolute;
    top: -15px;
    left: 140px;
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(-15deg);
    animation: clickHintBlink .8s infinite alternate;
}


/* 별점 별도 색상 적용 */
.rating-5 { color: gold !important;}
.rating-4 { color: green !important;}
.rating-3 { color: blue !important;}
.rating-2 { color: orange !important;}
.rating-1 { color: red !important;}

#star-rating .star.selected {
    color: gold;
}

/* More 버튼 */
.real-more {
    display: block;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}

.real-more:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* 상단으로 이동 버튼 스타일 */
.scroll-top-btn {
    position: fixed;
    bottom: 100px;
    right: 80px;
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(100px);
    z-index: 1000;
}

/* 버튼이 보일 때 */
.scroll-top-btn.show {
    opacity: 1;
    transform: translateY(0);
}

/* 버튼 hover 효과 */
.scroll-top-btn:hover {
    background-color: #fff;
    color: black;
    border: 2px solid black;
}

/* 예약 문의 */
.contact-info {
    background-color: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ffeeba;
}

.contact-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 5px;
}


.btn10 {
    text-transform: uppercase!important;
    text-transform: capitalize;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index:10;
}



.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #e9f4ff;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
}

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #47b7f6;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before{
    opacity:1;
    width: 116%;
}
.btn10:hover::after{
    opacity:1;
    width: 120%;
}

/* 애니메이션 */

@keyframes clickHintBlink {
    0% {
        opacity: 1;
        transform: rotate(15deg) scale(1);
    }
    100% {
        opacity: 0.5;
        transform: rotate(25deg) scale(1.1);
    }
}


/* 반응형 */

@media (max-width: 768px) {
    .room-item {
        flex-direction: column;
    }

    .room-image {
        max-height: 200px;
    }

    .room-title {
        font-size: 20px;
    }

    .room-description {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .review-section {
        padding: 15px;
    }

    .review-box {
        padding: 10px;
    }

    .review-text {
        font-size: 14px;
    }
}