.notification-bell {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1001; /* 벨 아이콘이 다른 요소 위에 오도록 설정 */
}

.notification-bell span {
    position: absolute;
    top: 20%;
    right: -5px;
    background: red;
    color: white;
    font-size: 0.8rem;
    border-radius: 50%;
    padding: 7px 7px;
    min-width: 19px;
    text-align: center;
    font-weight: bold;
}

#notification-container {
    position: relative;
    display: inline-block;
}

#unread-count {
    color: white; /* 글자 색상 */
    font-weight: bold;
    position: absolute;
    top: -5px;  /* 벨 아이콘과의 거리 조정 */
    background-color: red; /* 배경색 */
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    min-width: 18px;
    text-align: center;
}

.notification-list {
    position: absolute;
    top: 40px;
    right: 10px;
    background: white;
    border: 1px solid #ddd;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: none !important;
    z-index: 1050; /* 다른 요소들보다 우선되도록 설정 */
}

.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
