<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 지사 관리</title>
    <style>
        .custom-link {
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
        .custom-link:hover {
            color: gray; /* 마우스 올리면 회색 */
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/roomList.css}">
    <script th:src="@{/js/setHotelLocation.js}"></script>
    <script th:src="@{/js/hotel.js}"></script>

    <script th:inline="javascript">

        $(document).ready(function () {

            // 세션에서 message 값을 가져옴
            var message = [[${message}]];

            // message가 null이 아니면 알림창을 띄우고 세션에서 삭제
            if (message !== null && message !== '') {
                alert(message);
            }

            var moBtn = $(".modalBtn")
            var modal = $("#myModal")


            moBtn.off().on("click", function () {

                console.log("모달 진입")

                //모달 열기
                modal.modal("show")

                $('.modal-title').text("간편 등록하기")


                $("#saveChanges").show()
                modal.find("input").show();
            })

            $(".submitBtn").off().on("click", function () {
                alert("글 작성이 완료되었습니다.")
            })

        })


    </script>

</head>
<body>

<div id="wrapper" layout:fragment="content">
    <div class="container-fluid mt-4">
        <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
        <a href="#" class="custom-link"><span>호텔관리</span></a> /
        <a th:href="@{/manager/hotel/list(companyId=${companyId})}" class="custom-link">
            <span>호텔지사관리</span>
        </a>
        <h2 class="mb-3">호텔 지사 관리</h2>

        <!-- 검색 영역 -->
        <div class="card p-4 mb-4">
            <form action="/manager/hotel/list" method="get">
                <input type="hidden" name="companyId" th:value="${companyId}">
                <div class="row g-3 align-items-center">
                    <h5 class="card-title">지사 찾기</h5>
                    <div class="col-md-6">
                        <select name="searchType" class="form-select">
                            <option value="name" th:selected="${searchType == 'name'}">지사명</option>
                            <option value="location" th:selected="${searchType == 'location'}">지역</option>
                            <option value="address" th:selected="${searchType == 'address'}">주소</option>
                            <option value="rating" th:selected="${searchType == 'rating'}">별점</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="keyword" class="form-control" placeholder="검색어를 입력하세요">
                    </div>
                </div>
                <!-- 조회 버튼 -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-dark w-25" th:formaction="@{ /manager/hotel/list(companyId=${companyId}, searchType=${searchType}, keyword=${keyword}) }">조회</button>
                </div>
            </form>
        </div>

        <!-- 목록 영역 -->

        <div>


        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">지사 목록</h5>
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th style="width: 13%">이미지</th>
                        <th style="width: 10%">본사명</th>
                        <th style="width: 15%">지사명</th>
                        <th style="width: 20%">주소</th>
                        <th style="width: 10%">전화번호</th>
                        <th style="width: 10%">이메일</th>
                        <th style="width: 10%">체크인-체크아웃</th>
                        <!--<th style="width: 5%">별점</th>-->
                        <th style="width: 5%"><i class="bi bi-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:unless="${#lists.isEmpty(hotelDTOS)}"><!--값이 없으면이 아니면(있으면)-->
                        <tr th:each="data:${hotelDTOS}">
<!--                            <td th:text="${data.hotelId}">호텔번호</td>-->
                            <td class="align-middle text-center" style="height: 100px">
                                <img th:if="${data.hotelImgDTOList != null and !data.hotelImgDTOList.isEmpty()}"
                                     th:src="@{'/upload/' + ${data.hotelImgDTOList[0].imagePath}}"
                                     alt="Room Image"
                                     class="room-image" width="100px" >
                                <span th:if="${data.hotelImgDTOList == null or data.hotelImgDTOList.isEmpty()}">
                                    <img src="/img/default_img.jpg" width="100px">
                                </span>
                            </td>
                            <td th:text="${data.companyName}" class="align-middle text-center">본사명</td>
                            <td class="align-middle text-center">
                                <a th:href="@{/manager/hotel/read(hotelId=${data.hotelId})}" style="text-decoration: none; color: black" th:text="${data.hotelName}" >지사명</a>
                            </td>
                            <td th:text="${data.hotelAddress}" class="align-middle text-center">주소</td>
                            <td th:text="${data.hotelPhone}" class="align-middle text-center">전화번호</td>
                            <td th:text="${data.hotelEmail}" class="align-middle text-center">이메일</td>
                            <td class="align-middle text-center">
                                <span th:text="${data.hotelCheckIn}">체크인</span>:00-<span th:text="${data.hotelCheckOut}">체크아웃</span>:00</td>
                            <!--<td class="align-middle text-center">별점</td>--> <!-- 별점은 나중에 -->
                            <td class="align-middle text-center">
                                <a th:href="@{/manager/hotel/read(hotelId=${data.hotelId})}" class="btn btn-info btn-sm">보기</a>
                                <a th:href="@{/manager/hotel/update(hotelId=${data.hotelId})}"  class="btn btn-warning btn-sm">수정</a>
                                <a th:href="@{/manager/hotel/delete(hotelId=${data.hotelId})}" style="text-decoration: none; color: black" class="btn btn-danger btn-sm" onclick="return confirm('진짜로 삭제하시겠습니까?')"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>



                </table>

                <th:block th:if="${#lists.isEmpty(hotelDTOS)}"><!--받아온 값이 없으면-->
                    <div style="text-align: center">
                        <p>등록된 호텔이 없습니다.</p>
                    </div>
                </th:block>


                <!-- 추가 버튼 -->
                <div class="text-end mt-3">
                    <a class="btn btn-success" th:href="@{/company/read(companyId=${companyId})}">본사상세</a> <!--only chief-->
                    <button class="btn btn-dark" onclick="location.href='/manager/hotel/register'">등록</button>
                    <button type="button" class="btn btn-primary modalBtn">간편 등록</button>
                </div>


                <!-- 페이지네이션 -->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" th:unless="${pageInfo.startPage == 1}">
                            <a class="page-link" th:href="@{/manager/hotel/list(page=1)}">시작</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.currentPage == 1}">
                            <a class="page-link" th:href="@{/manager/hotel/list(page=${pageInfo.prevPage})}">이전</a>
                        </li>
                        <th:block th:each="num : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage, 1)}">
                            <li class="page-item" th:unless="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/manager/hotel/list(page=${num})}" th:text="${num}">1</a>
                            </li>
                            <li class="page-item active" th:if="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/manager/hotel/list(page=${num})}" th:text="${num}">[[${num}]]</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:unless="${pageInfo.currentPage >= pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/manager/hotel/list(page=${pageInfo.nextPage})}">다음</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.endPage == pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/manager/hotel/list(page=${pageInfo.lastPage})}">끝</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

    <!--모달-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">간편등록</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">

                    <form action="/manager/hotel/register" method="post" enctype="multipart/form-data">
                        <div class="mb-3 mt-3">
                            <label for="companyId" class="form-label">본사명:</label>
                            <select id="companyId" name="companyId" class="form-select">
                                <th:block th:each="companyDTOS : ${companyDTOS}">
                                    <option th:value="${companyDTOS.companyId}" th:text="${companyDTOS.companyName}">뒤에바</option>
                                </th:block>
                            </select>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="hotelName" class="form-label">지사명:</label>
                            <input type="text" class="form-control" id="hotelName" name="hotelName" required>
                        </div>
                        <div class="mb-3">
                            <!--<label for="hotelLocation" class="form-label">호텔지역:</label>-->
                            <input type="hidden" class="form-control" id="hotelLocation" name="hotelLocation" required>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="hotelAddress" class="form-label">호텔주소:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="hotelAddress" name="hotelAddress" oninput="setHotelLocationBasedOnAddress(this.value)" required>
                                <button type="button" class="btn btn-secondary" onclick="execDaumPostcode()">주소찾기</button>
                            </div></div>
                        <div class="mb-3">
                            <label for="hotelInfo" class="form-label">호텔상세:</label>
                            <textarea class="form-control" id="hotelInfo" name="hotelInfo" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="hotelPhone" class="form-label">호텔전화:</label>
                            <input type="text" class="form-control" id="hotelPhone" name="hotelPhone" required>
                        </div>
                        <!--<div class="mb-3 mt-3">
                            <label for="hotelEmail" class="form-label">호텔이메일:</label>
                            <input type="email" class="form-control" id="hotelEmail" name="hotelEmail">
                        </div>-->
                        <div class="mb-3 mt-3">
                            <label for="hotelCheckIn" class="form-label">호텔 체크인:</label>
                            <select id="hotelCheckIn" name="hotelCheckIn" class="form-select">
                                <option value="00">00:00</option>
                                <option value="01">01:00</option>
                                <option value="02">02:00</option>
                                <option value="03">03:00</option>
                                <option value="04">04:00</option>
                                <option value="05">05:00</option>
                                <option value="06">06:00</option>
                                <option value="07">07:00</option>
                                <option value="08">08:00</option>
                                <option value="09">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="hotelCheckOut" class="form-label">호텔 체크아웃:</label>
                            <select id="hotelCheckOut" name="hotelCheckOut" class="form-select">
                                <option value="00">00:00</option>
                                <option value="01">01:00</option>
                                <option value="02">02:00</option>
                                <option value="03">03:00</option>
                                <option value="04">04:00</option>
                                <option value="05">05:00</option>
                                <option value="06">06:00</option>
                                <option value="07">07:00</option>
                                <option value="08">08:00</option>
                                <option value="09">09:00</option>
                                <option value="10">10:00</option>
                                <option value="11">11:00</option>
                                <option value="12">12:00</option>
                                <option value="13">13:00</option>
                                <option value="14">14:00</option>
                                <option value="15">15:00</option>
                                <option value="16">16:00</option>
                                <option value="17">17:00</option>
                                <option value="18">18:00</option>
                                <option value="19">19:00</option>
                                <option value="20">20:00</option>
                                <option value="21">21:00</option>
                                <option value="22">22:00</option>
                                <option value="23">23:00</option>
                            </select>
                        </div>
                        <!-- 새 이미지 업로드 및 미리보기 -->
                        <div>
                            <label for="newImageFiles">지사이미지:</label>
                            <input type="file" id="newImageFiles" name="imageFiles" multiple accept="image/*" onchange="validateImage(event)" required>
                            <small>이미지 파일(PNG, JPG, GIF, BMP, JFIF, WEBP)만 업로드 가능합니다. 최대 5장까지 선택할 수 있습니다.</small>
                        </div>

                        <!-- 미리보기 이미지 표시 -->
                        <div id="imagePreviewContainer">
                            <!-- 미리보기가 여기 나타날 것입니다 -->
                        </div>

                        <div style="text-align: right">
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>

                    </form>


                    <!--daum지도 API를 연동-->
                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                    <script>
                        //우편번호찾기를 클릭시 처리되는 메소드
                        //daum에서 제공하는 기본 메소드
                        function execDaumPostcode() {
                            new daum.Postcode({
                                oncomplete: function(data) {
                                    var addr = '';

                                    if (data.userSelectedType === 'R') {
                                        addr = data.roadAddress;
                                    } else {
                                        addr = data.jibunAddress;
                                    }
                                    // 조회한 주소를 html에 id명이 hotelAddress인 곳에 적용
                                    document.getElementById("hotelAddress").value = addr;

                                    // 주소 변경 시 setHotelLocationBasedOnAddress 호출
                                    setHotelLocationBasedOnAddress(addr);
                                }
                            }).open(); // 주소검색창 열기
                        }
                    </script>


                </div>

            </div>
        </div>
    </div>

</div>



</body>
</html>