<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 지사 등록</title>
    <style>
        .custom-link {
            color: black;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
        .custom-link:hover {
            color: gray; /* 마우스 올리면 회색 */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:inline="javascript">

        // 이미지 미리보기 함수
        function previewImage(event) {

            console.log("수정 진입")

            const previewContainer = document.getElementById('imagePreviewContainer');
            previewContainer.innerHTML = '';  // 기존 미리보기 이미지 제거

            const files = event.target.files;

            if (files.length > 0) {
                Array.from(files).forEach(file => {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.alt = 'Image Preview';
                        img.style.maxWidth = '200px';  // 미리보기 이미지 크기 조정
                        img.style.marginTop = '10px';
                        previewContainer.appendChild(img);
                    }

                    reader.readAsDataURL(file);  // 이미지 파일을 읽어서 미리보기
                });
            }
        }

        //이미지파일 검사
        function validateImage(event) {
            var files = event.target.files;
            var maxSize = 10 * 1024 * 1024; // 10MB 제한
            var allowedExt = ["jpg", "jpeg", "gif", "png", "bmp", "jfif", "webp"];

            // 파일 개수 검사: 최대 5개까지 허용
            if (files.length > 5) {
                alert("최대 5장까지만 업로드할 수 있습니다.");
                event.target.value = ""; // 입력 필드 초기화
                return;
            } else if (files.length == 0) {
                alert("지사이미지는 최소 1장 이상 업로드해주세요")
                event.target.value = ""; // 입력 필드 초기화
                return;
            }

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var fileName = file.name;
                var fileSize = file.size;
                var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1).toLowerCase();

                // 확장자 검사
                if (!allowedExt.includes(fileExt)) {
                    alert("이미지 파일(PNG, JPG, GIF, BMP, JFIF, WEBP)만 업로드 가능합니다.");
                    event.target.value = ""; // 입력 필드 초기화
                    return;
                }

                // 파일 크기 검사
                if (fileSize > maxSize) {
                    alert("파일 크기가 10MB를 초과할 수 없습니다.");
                    event.target.value = ""; // 입력 필드 초기화
                    return;
                }
            }
        }

        //주소입력시 지역 자동설정
        function setHotelLocationBasedOnAddress(address) {
            //일단 여기서만 추가하고 최종적으로 마지막에 다른곳도 반영

            address = address.trim().toLowerCase();  // 공백 제거 및 소문자 변환

            let location = '';

            // 서울 지역 인근 구별 그룹핑
            // 서울 지역 그룹핑
            if (address.includes('서울 강남') || address.includes('서울 역삼') || address.includes('서울 삼성')) {
                location = '강남/역삼/삼성';
            } else if (address.includes('서울 신사') || address.includes('서울 청담') || address.includes('서울 압구정')) {
                location = '신사/청담/압구정';
            } else if (address.includes('서울 서초') || address.includes('서울 교대') || address.includes('서울 사당')) {
                location = '서초/교대/사당';
            } else if (address.includes('서울 잠실') || address.includes('서울 송파') || address.includes('서울 강동')) {
                location = '잠실/송파/강동';
            } else if (address.includes('서울 홍대') || address.includes('서울 합정') || address.includes('서울 서대문')) {
                location = '홍대/합정/서대문';
            } else if (address.includes('서울 구로') || address.includes('서울 신도림') || address.includes('서울 금천') || address.includes('서울 영등포')) {
                location = '구로/신도림/금천/영등포';
            } else if (address.includes('서울 김포공항') || address.includes('서울 강서') || address.includes('서울 양천구')) {
                location = '김포공항/강서/양천';
            } else if (address.includes('서울 건대입구') || address.includes('서울 성수') || address.includes('서울 성동')) {
                location = '건대입구/성수/성동';
            } else if (address.includes('서울 종로') || address.includes('서울 광화문') || address.includes('서울 명동') || address.includes('서울 중구')) {
                location = '종로/광화문/명동/중구';
            } else if (address.includes('서울 동대문') || address.includes('서울 을지로') || address.includes('서울 청계천')) {
                location = '동대문/을지로/청계천';
            } else if (address.includes('서울 용산') || address.includes('서울 이태원') || address.includes('서울 여의도')) {
                location = '용산/이태원/여의도';
            } else if (address.includes('서울 노원') || address.includes('서울 중랑') || address.includes('서울 도봉') || address.includes('서울 강북')) {
                location = '노원/중랑/도봉/강북';
            } else if (address.includes('서울 성북') || address.includes('서울 종로') || address.includes('서울 광진')) {
                location = '성북/종로/광진';
            }


            // 경기도 (도 이름 없이 도시별 처리)
            else if (address.includes('경기 수원')) {
                location = '경기도 수원시';  // 수원
            } else if (address.includes('경기 용인')) {
                location = '경기도 용인시';  // 용인
            } else if (address.includes('경기 성남')) {
                location = '경기도 성남시';  // 성남
            } else if (address.includes('경기 고양')) {
                location = '경기도 고양시';  // 고양
            } else if (address.includes('경기 부천')) {
                location = '경기도 부천시';  // 부천
            } else if (address.includes('경기 광명') || address.includes('경기 시흥')) {
                location = '광명/시흥';
            } else if (address.includes('경기 안양') || address.includes('경기 군포') || address.includes('경기 의왕')) {
                location = '안양/군포/의왕';
            } else if (address.includes('경기 안산') || address.includes('경기 화성') || address.includes('경기 오산')) {
                location = '안산/화성/오산';
            } else if (address.includes('경기 평택') || address.includes('경기 이천') || address.includes('경기 여주')) {
                location = '평택/이천/여주';
            } else if (address.includes('경기 의정부') || address.includes('경기 남양주') || address.includes('경기 구리')) {
                location = '의정부/남양주/구리';
            } else if (address.includes('경기 파주') || address.includes('경기 양주') || address.includes('경기 동두천')) {
                location = '파주/양주/동두천';
            } else if (address.includes('경기 가평') || address.includes('경기 양평') || address.includes('경기 여주')) {
                location = '가평/양평/여주';
            } else if (address.includes('경기 포천') || address.includes('경기 동두천') || address.includes('경기 의정부')) {
                location = '포천/동두천/의정부';
            } else if (address.includes('경기 하남') || address.includes('경기 광주')) {
                location = '하남/광주';
            }


            // 인천
            else if (address.includes('인천 송도') || address.includes('인천 연수') || address.includes('인천 남동')) {
                location = '송도/연수/남동';
            } else if (address.includes('인천 부평') || address.includes('인천 계양')) {
                location = '부평/계양';
            } else if (address.includes('인천 중구') || address.includes('인천 동구') || address.includes('인천 미추홀')) {
                location = '중구/동구/미추홀';
            } else if (address.includes('인천 서구') || address.includes('인천 강화') || address.includes('인천 옹진')) {
                location = '서구/강화/옹진';
            }

            // 부산
            else if (address.includes('부산 해운대') || address.includes('부산 수영') || address.includes('부산 남구')) {
                location = '해운대/수영/남구';
            } else if (address.includes('부산 중구') || address.includes('부산 남포') || address.includes('부산 영도')) {
                location = '중구/남포/영도';
            } else if (address.includes('부산 동래') || address.includes('부산 연제') || address.includes('부산 금정')) {
                location = '동래/연제/금정';
            } else if (address.includes('부산 사하') || address.includes('부산 강서') || address.includes('부산 사상')) {
                location = '사하/강서/사상';
            } else if (address.includes('부산 북구') || address.includes('부산 울주') || address.includes('부산 기장')) {
                location = '북구/울주/기장';
            }

            // 대구
            else if (address.includes('대구 중구') || address.includes('대구 동성로') || address.includes('대구 남구')) {
                location = '중구/동성로/남구';
            } else if (address.includes('대구 수성구') || address.includes('대구 달서구') || address.includes('대구 북구')) {
                location = '수성구/달서구/북구';
            } else if (address.includes('대구 서구') || address.includes('대구 동구') || address.includes('대구 달성군')) {
                location = '서구/동구/달성군';
            }

            // 광주
            else if (address.includes('광주 동구') || address.includes('광주 서구') || address.includes('광주 남구')) {
                location = '동구/서구/남구';
            } else if (address.includes('광주 북구') || address.includes('광주 광산구')) {
                location = '북구/광산구';
            }

            // 대전
            else if (address.includes('대전 유성구') || address.includes('대전 서구') || address.includes('대전 중구')) {
                location = '유성구/서구/중구';
            } else if (address.includes('대전 동구') || address.includes('대전 대덕구')) {
                location = '동구/대덕구';
            }

            // 울산
            else if (address.includes('울산 남구') || address.includes('울산 중구') || address.includes('울산 동구')) {
                location = '남구/중구/동구';
            } else if (address.includes('울산 북구') || address.includes('울산 울주군')) {
                location = '북구/울주군';
            }

            // 강원
            else if (address.includes('강원특별자치도 강릉') || address.includes('강원특별자치도 동해') || address.includes('강원 삼척')) {
                location = '강릉/동해/삼척';
            } else if (address.includes('강원특별자치도 속초') || address.includes('강원특별자치도 양양')) {
                location = '속초/양양';
            } else if (address.includes('강원특별자치도 고성') || address.includes('강원특별자치도 동해') || address.includes('강원특별자치도 강릉')) {
                location = '고성/동해/강릉';
            } else if (address.includes('강원특별자치도 춘천') || address.includes('강원특별자치도 홍천') || address.includes('강원 평창')) {
                location = '춘천/홍천/평창';
            } else if (address.includes('강원특별자치도 원주') || address.includes('강원특별자치도 횡성') || address.includes('강원 영월')) {
                location = '원주/횡성/영월';
            } else if (address.includes('강원특별자치도 정선') || address.includes('강원특별자치도 태백') || address.includes('강원특별자치도 사북')) {
                location = '정선/태백/사북';
            } else if (address.includes('강원특별자치도 철원') || address.includes('강원특별자치도 화천') || address.includes('강원특별자치도 양구') || address.includes('강원특별자치도 인제')) {
                location = '철원/화천/양구/인제';
            }


            // 충북
            else if (address.includes('충북 청주') || address.includes('충북 충주') || address.includes('충북 제천')) {
                location = '청주/충주/제천';
            } else if (address.includes('충북 보은') || address.includes('충북 옥천') || address.includes('충북 영동')) {
                location = '보은/옥천/영동';
            } else if (address.includes('충북 진천') || address.includes('충북 음성') || address.includes('충북 증평')) {
                location = '진천/음성/증평';
            } else if (address.includes('충북 괴산') || address.includes('충북 단양')) {
                location = '괴산/단양';

            // 충남
            } else if (address.includes('충남 천안') || address.includes('충남 아산') || address.includes('충남 당진')) {
                location = '천안/아산/당진';
            } else if (address.includes('충남 논산') || address.includes('충남 계룡') || address.includes('충남 금산')) {
                location = '논산/계룡/금산';
            } else if (address.includes('충남 서산') || address.includes('충남 홍성') || address.includes('충남 예산')) {
                location = '서산/홍성/예산';
            } else if (address.includes('충남 서천') || address.includes('충남 보령')) {
                location = '서천/보령';

            // 세종
            } else if (address.includes('세종특별자치시')) {
                location = '세종시';
            }

            // 전북
            else if (address.includes('전북 전주') || address.includes('전북 군산') || address.includes('전북 익산')) {
                location = '전주/군산/익산';
            } else if (address.includes('전북 정읍') || address.includes('전북 남원') || address.includes('전북 완주')) {
                location = '정읍/남원/완주';
            }

            // 전남
            else if (address.includes('전남 여수') || address.includes('전남 순천') || address.includes('전남 광양')) {
                location = '여수/순천/광양';
            } else if (address.includes('전남 목포') || address.includes('전남 나주') || address.includes('전남 무안')) {
                location = '목포/나주/무안';
            } else if (address.includes('전남 담양') || address.includes('전남 순천') || address.includes('전남 해남')) {
                location = '담양/순천/해남';
            }

            // 경북
            else if (address.includes('경북 포항') || address.includes('경북 경주') || address.includes('경북 영천')) {
                location = '포항/경주/영천';
            } else if (address.includes('경북 구미') || address.includes('경북 안동') || address.includes('경북 문경')) {
                location = '구미/안동/문경';
            } else if (address.includes('경북 김천') || address.includes('경북 상주') || address.includes('경북 칠곡')) {
                location = '김천/상주/칠곡';
            } else if (address.includes('경북 영주') || address.includes('경북 의성') || address.includes('경북 청송')) {
                location = '영주/의성/청송';
            } else if (address.includes('경북 울진') || address.includes('경북 영덕')) {
                location = '울진/영덕';
            }

            // 경남
            else if (address.includes('경남 창원') || address.includes('경남 김해') || address.includes('경남 양산')) {
                location = '창원/김해/양산';
            } else if (address.includes('경남 진주') || address.includes('경남 사천') || address.includes('경남 밀양')) {
                location = '진주/사천/밀양';
            } else if (address.includes('경남 통영') || address.includes('경남 거제') || address.includes('경남 고성')) {
                location = '통영/거제/고성';
            } else if (address.includes('경남 함안') || address.includes('경남 의령') || address.includes('경남 창녕')) {
                location = '함안/의령/창녕';
            } else if (address.includes('경남 하동') || address.includes('경남 남해')) {
                location = '하동/남해';
            }



            // 제주도
            else if (address.includes('제주특별자치도 한림읍') || address.includes('제주특별자치도 애월읍')) {
                location = '제주/한림/애월';
            } else if (address.includes('제주특별자치도 중문동') || address.includes('제주특별자치도 대정읍')) {
                location = '서귀포/중문/대정';
            } else if (address.includes('제주특별자치도 성산읍') || address.includes('제주특별자치도 서귀포시 표선면') || address.includes('제주특별자치도 송악산')) {
                location = '성산/표선/송악산';
            } else if (address.includes('제주특별자치도 구좌읍') || address.includes('제주특별자치도 조천읍') || address.includes('제주특별자치도 용담동')) {
                location = '구좌/조천/용담';
            } else if (address.includes('제주특별자치도 남원읍') || address.includes('제주특별자치도 한경면') || address.includes('제주특별자치도 성산읍')) {
                location = '남원/한경/성산';
            } else if (address.includes('제주특별자치도 제주공항') || address.includes('제주특별자치도 서광로') || address.includes('제주특별자치도 동문시장')) {
                location = '제주공항/서광로/동문시장';
            } else if (address.includes('제주특별자치도 안덕면') || address.includes('제주특별자치도 서귀포시 호근동') || address.includes('제주특별자치도 대포동')) {
                location = '안덕면/호근동/대포동';
            } else if (address.includes('제주특별자치도 대림동') || address.includes('제주특별자치도 송악산') || address.includes('제주특별자치도 애월읍')) {
                location = '대림동/송악산/애월읍';
            } else if (address.includes('제주특별자치도 이호동') || address.includes('제주특별자치도 용수리') || address.includes('제주특별자치도 제주대학교')) {
                location = '이호동/용수리/제주대학교';
            } else if (address.includes('제주특별자치도 중산간도로') || address.includes('제주특별자치도 천지연폭포') || address.includes('제주특별자치도 미로공원')) {
                location = '중산간도로/천지연폭포/미로공원';
            }


            document.getElementById('hotelLocation').value = location;
        }



    </script>

</head>
<body>
<div id="wrapper" layout:fragment="content">

    <div class="container-fluid mt-4">
        <a href="/" class="custom-link"><span><i class="bi bi-house-fill"></i> HOME</span></a> /
        <a href="#" class="custom-link"><span>호텔관리</span></a> /
        <a href="/company/list" class="custom-link"><span>호텔본사관리</span></a> /
        <a th:href="@{/company/read(companyId=${companyDTO.companyId})}" class="custom-link">
            <span>본사상세보기</span>
        </a> /
        <a th:href="@{/manager/hotel/list(companyId=${companyDTO.companyId})}" class="custom-link">
            <span>호텔지사관리</span>
        </a> /
        <a href="/manager/hotel/register" class="custom-link">
            <span>지사등록</span>
        </a>
        <h2 class="mb-3">지사 등록</h2>

        <!-- 폼 -->
        <div class="card p-4 mb-4">
            <div class="row g-3 align-items-center">
                <form action="/manager/hotel/register" method="post" enctype="multipart/form-data">
                    <div class="mb-3 mt-3">
                        <label for="companyId" class="form-label">본사명:</label>
                        <select id="companyId" name="companyId" class="form-select">
                            <th:block th:each="companyDTOS : ${companyDTOS}">
                                <option th:value="${companyDTOS.companyId}" th:text="${companyDTOS.companyName}">뒤에바</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="hotelName" class="form-label">지사명:</label>
                        <input type="text" class="form-control" id="hotelName" name="hotelName" required>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="hotelAddress" class="form-label">호텔주소:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="hotelAddress" name="hotelAddress" oninput="setHotelLocationBasedOnAddress(this.value)" required>
                            <button type="button" class="btn btn-secondary" onclick="execDaumPostcode()">주소찾기</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="hotelLocation" class="form-label">호텔지역:</label>
                        <input type="text" class="form-control" id="hotelLocation" name="hotelLocation" required readonly>
                        <!-- ** 지역 제대로 적용되는지 확인용
                            최종 제출 시엔 라벨은 주석처리, hidden으로 변경 必 ** -->
                    </div>
                    <div class="mb-3">
                        <label for="hotelInfo" class="form-label">호텔상세:</label>
                        <textarea class="form-control" id="hotelInfo" name="hotelInfo" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="hotelPhone" class="form-label">호텔전화:</label>
                        <input type="text" class="form-control" id="hotelPhone" name="hotelPhone" required>
                    </div>
                    <!--<div class="mb-3 mt-3">
                        <label for="hotelEmail" class="form-label">호텔이메일:</label>
                        <input type="email" class="form-control" id="hotelEmail" name="hotelEmail">
                    </div>-->
                    <div class="mb-3 mt-3">
                        <label for="hotelCheckIn" class="form-label">호텔 체크인:</label>
                        <select id="hotelCheckIn" name="hotelCheckIn" class="form-select">
                            <option value="00">00:00</option>
                            <option value="01">01:00</option>
                            <option value="02">02:00</option>
                            <option value="03">03:00</option>
                            <option value="04">04:00</option>
                            <option value="05">05:00</option>
                            <option value="06">06:00</option>
                            <option value="07">07:00</option>
                            <option value="08">08:00</option>
                            <option value="09">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>
                            <option value="22">22:00</option>
                            <option value="23">23:00</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="hotelCheckOut" class="form-label">호텔 체크아웃:</label>
                        <select id="hotelCheckOut" name="hotelCheckOut" class="form-select">
                            <option value="00">00:00</option>
                            <option value="01">01:00</option>
                            <option value="02">02:00</option>
                            <option value="03">03:00</option>
                            <option value="04">04:00</option>
                            <option value="05">05:00</option>
                            <option value="06">06:00</option>
                            <option value="07">07:00</option>
                            <option value="08">08:00</option>
                            <option value="09">09:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                            <option value="19">19:00</option>
                            <option value="20">20:00</option>
                            <option value="21">21:00</option>
                            <option value="22">22:00</option>
                            <option value="23">23:00</option>
                        </select>
                    </div>
                    <!-- 새 이미지 업로드 및 미리보기 -->
                    <div>
                        <label for="newImageFiles">지사이미지:</label>
                        <input type="file" id="newImageFiles" name="imageFiles" multiple accept="image/*" onchange="validateImage(event)" required>
                        <small>PNG, JPG, GIF, BMP, JFIF, WEBP만 업로드 가능합니다. 최대 5장까지 선택할 수 있습니다.</small>
                    </div>


                    <!-- 미리보기 이미지 표시 -->
                    <div id="imagePreviewContainer">
                        <!-- 미리보기가 여기 나타날 것입니다 -->
                    </div>

                    <div style="text-align: right">
                        <button type="submit" class="btn btn-primary">등록</button>
                    </div>

                </form>

                <!--daum지도 API를 연동-->
                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    //우편번호찾기를 클릭시 처리되는 메소드
                    //daum에서 제공하는 기본 메소드
                    function execDaumPostcode() {
                        new daum.Postcode({
                            oncomplete: function(data) {
                                var addr = '';

                                if (data.userSelectedType === 'R') {
                                    addr = data.roadAddress;
                                } else {
                                    addr = data.jibunAddress;
                                }
                                // 조회한 주소를 html에 id명이 hotelAddress인 곳에 적용
                                document.getElementById("hotelAddress").value = addr;

                                // 주소 변경 시 setHotelLocationBasedOnAddress 호출
                                setHotelLocationBasedOnAddress(addr);

                                const statusLocation = document.getElementById("hotelLocation");
                                // 사용자가 직접 변경하지 못하도록 비활성화
                                statusLocation.disabled = true;
                            }
                        }).open(); // 주소검색창 열기
                    }
                </script>

            </div>
        </div>

    </div>
</div>

</body>
</html>