<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>NTT호텔 - 서비스 오더 관리</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
<div id="wrapper" layout:fragment="content">
    <div class="container-fluid mt-4">
        <!--검색영역-->
        <div class="card p-4 mb-4">
            <form action="/manager/order/list" method="get">

                <div class="row g-3 align-items-center">
                    <h5 class="card-title">예약 찾기</h5>
                    <!--검색창-->
                    <div class="col-md-12">
                        <select name="searchType" class="form-select">
                            <option value="memberName" th:selected="${searchType == 'memberName'}">회원명</option>
                            <option value="memberEmail" th:selected="${searchType == 'memberEmail'}">회원이메일</option>
                            <option value="roomName" th:selected="${searchType == 'roomName'}">방이름</option>
                            <option value="orderDate" th:selected="${searchType == 'orderDate'}">예약날짜</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <input type="text" name="keyword" class="form-control" placeholder="검색어를 입력하세요">
                    </div>
                </div>
                <!--조회 버튼-->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-dark w-25" th:formaction="@{/manager/order/list(reservationId=${reservationId}, searchType=${searchType}, keyword = ${keyword})}">조회</button>
                </div>
            </form>
        </div>
        <!--목록 영역-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">주문내역 목록</h5>
                <table class="table table-bordered text-center">
                    <thead>
                    <tr>
                        <th style="width: 10%">주문번호</th>
                        <th style="width: 10%">회원명</th>
                        <th style="width: 20%">회원이메일</th>
                        <th style="width: 18%">방이름</th>
                        <th style="width: 15%">예약날짜</th>
                        <th style="width: 17%">관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${serviceOrderHistoryDTOS}">
                        <td th:text="${data.serviceOrderId}">주문번호</td>
                        <td th:text="${data.memberDTO.memberName}"></td>
                        <td th:text="${data.memberDTO.memberEmail}"></td>
                        <td th:text="${data.reservationDTO.room.roomName}"></td>
                        <td th:text="${#temporals.format(data.regDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <!-- 보기 버튼 -->
                            <button type="button" class="btn btn-info btn-sm"
                                    th:onclick="|location.href='/manager/order/read?serviceOrderId=' + ${data.serviceOrderId}|">
                                보기
                            </button>
                            <!-- 수정 버튼 -->
                            <button type="button" class="btn btn-warning btn-sm" th:onclick="|location.href='/manager/order/update?serviceOrderId=' + ${data.serviceOrderId}|">수정</button>
                            <!-- 삭제 버튼 -->
                            <button type="button" class="btn btn-danger btn-sm" th:onclick="|location.href='/manager/order/delete?serviceOrderId=' + ${data.serviceOrderId}|"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- 페이지네이션 -->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item" th:unless="${pageInfo.startPage == 1}">
                            <a class="page-link" th:href="@{/manager/order/list(page=1)}">시작</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.currentPage == 1}">
                            <a class="page-link" th:href="@{/manager/order/list(page=${pageInfo.prevPage})}">이전</a>
                        </li>
                        <th:block th:each="num : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage, 1)}">
                            <li class="page-item" th:unless="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/manager/order/list(page=${num})}" th:text="${num}">1</a>
                            </li>
                            <li class="page-item active" th:if="${num == pageInfo.currentPage}">
                                <a class="page-link" th:href="@{/manager/order/list(page=${num})}" th:text="${num}">[[${num}]]</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:unless="${pageInfo.currentPage >= pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/manager/order/list(page=${pageInfo.nextPage})}">다음</a>
                        </li>
                        <li class="page-item" th:unless="${pageInfo.endPage == pageInfo.lastPage}">
                            <a class="page-link" th:href="@{/manager/order/list(page=${pageInfo.lastPage})}">끝</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>