<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel ="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel ="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">

    <!-- 부트스트랩 아이콘 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/b17b1596b8.js" crossorigin="anonymous"></script>
    <link rel ="stylesheet" href="/assets/fonts/fontawesome-all.min.css">


    <link rel="stylesheet" th:href="@{/css/user.css}">
    <link rel="stylesheet" th:href="@{/css/roomList.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">


    <style>

        html, body {
            height: 100%;
            margin: 0;
        }

        .wrapper {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        .image-box {
            width:100%;
            height:230px;
            overflow:hidden;
            margin:0 auto;
        }

        .hotelImg {
            width:100%;
            height:100%;
            object-fit:cover;
        }
    </style>

    <!-- JavaScript inline -->
    <script th:inline="javascript">

        $(document).ready(function () {

            // 세션에서 message 값을 가져옴
            var message = [[${message}]];

            // message가 null이 아니면 알림창을 띄우고 세션에서 삭제
            if (message !== null && message !== '') {
                alert(message);
            }



            $(".delBtn").on("click", function () {
                var likeHotelId = $(this).data("hotel-id"); // 버튼에 저장된 likeHotelId 가져오기

                console.log(likeHotelId)


                if (!likeHotelId) {
                    alert("호텔 ID를 찾을 수 없습니다.");
                    return;
                }

                // 찜 여부 확인 후 버튼 상태 변경
                $(".room-card").each(function () {
                    var hotelId = $(this).find(".hotelId").val();

                    $.ajax({
                        url: "/like/check/" + hotelId,
                        type: "GET",
                        success: function (isLiked) {

                            var delBtn = $(".delBtn[data-hotel-id='" + hotelId + "']");

                            if (isLiked) {
                                delBtn.show();
                            } else {
                                delBtn.hide();
                            }
                        },
                        error: function () {
                            console.error("찜 여부 확인 실패 (호텔 ID: " + hotelId + ")");
                        }
                    });
                });


                $.ajax({
                    url: "/like/deleteList",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ likeHotelId: likeHotelId }),  // 변경된 부분
                    success: function () {
                        alert("즐겨찾기에서 삭제되었습니다.");
                        location.reload(); // 페이지 새로고침
                    },
                    error: function (xhr) {
                        console.error("삭제 실패:", xhr.responseText);
                        alert("삭제 실패: " + xhr.responseText);
                    }
                });
            });

        });

    </script>


</head>
<body>
<div th:replace="~{fragments/header::header}"></div>

<div layout:fragment="content">
    <!-- 배너 이미지 -->
    <section class="banner-container room-bnr ">
        <img src="/img/bg_membership.jpg" alt="Hotel Banner">
    </section>

    <!-- Room List Section -->
    <section class="py-5">
        <div class="container">
            <h1 class="text-center mb-5 mt-2">스크랩한 호텔</h1>
            <div id="room-list" class="row">

                <th:block th:if="${likeDTO == null || #lists.isEmpty(likeDTO)}">
                    <div class="mb-5 mt-5" style="text-align: center">
                        <h3>스크랩한 호텔이 없습니다🧐</h3>
                        <p>관심있는 호텔을 스크랩하여 편하게 모아보세요!</p>
                        <div class="mb-5">
                            <a href="/hotel/list" class="btn btn-lg btn-outline-dark">호텔보러가기</a>
                        </div>
                    </div>
                </th:block>

                <th:block th:unless="${likeDTO == null}">
                    <!--반복문-->
                    <th:block th:each="data : ${likeDTO}">
                        <!-- Room Card -->
                        <div class="col-md-4">
                            <a th:href="@{/hotel/read(hotelId=${data.hotelDTO.hotelId})}">

                                <div class="room-card ">
                                    <div class="room-image">
                                        <!--등록한 사진이 있을 때-->
                                        <th:block th:if="${data.hotelDTO.hotelImgDTOList != 0}">
                                            <div class="room-image image-box" th:each="data: ${data.hotelDTO.hotelImgDTOList}">
                                                <!-- 이미지 경로(path) -->
                                                <img th:src="@{'/upload/' + ${data.imagePath}}" class="hotelImg" alt="hotel Image" width="100%"/>
                                            </div>
                                        </th:block>
                                        <!--등록한 사진이 없을 때-->
                                        <th:block th:unless="${data.hotelDTO.hotelImgDTOList.size() != 0}">
                                            <div class="room-image image-box">
                                                <img src="/img/default_img.jpg" alt="noImage" class="hotelImg" style="width: 300px"/>
                                            </div>
                                        </th:block>

                                        <div class="hover-overlay">
                                            <a th:href="@{/hotel/read(hotelId=${data.hotelDTO.hotelId})}" class="btn btn-hover">자세히 보기</a>
                                        </div>
                                    </div>
                                    <div class="room-text">
                                        <div class="d-flex justify-content-start gap-2 mb-2">
                                            <!-- 지역버튼 -->
                                            <div style="display: flex; gap: 5px;">
                                                <a th:href="@{'/hotel/list?searchType=location&keyword=' + ${data.hotelDTO.hotelLocation}}" style="text-decoration: none">
                                                    <div class="badge bg-secondary" th:text="${data.hotelDTO.hotelLocation}">지역</div>
                                                </a>
                                            </div>
                                        </div>
                                        <h4 th:text="${data.hotelDTO.hotelName}" class="card-title mb-2">호텔 이름</h4>
                                        <p th:text="'체크인-체크아웃: ' + ${data.hotelDTO.hotelCheckIn} + '시 ~ ' + ${data.hotelDTO.hotelCheckOut} + '시'" class="card-text"></p>
                                        <input type="hidden" class="hotelId" th:value="${data.likeHotelId}">
                                        <div class="room-actions" style="margin-top: -5px">
                                            <p class="room-price mb-0"
                                               th:text="${data.hotelDTO.CheapestRoomPrice != null ? data.hotelDTO.CheapestRoomPrice + ' KRW' + '~' : '가격 미정'}"></p>
                                            <div class="room-buttons">
                                                <button class="btn btn-outline-danger delBtn"  th:data-hotel-id="${data.likeHotelId}" style="width: 50px; height: 50px">
                                                    <i class="bi bi-heart-fill" style="margin: auto; text-align: center"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </th:block>

                </th:block>

                <!-- 페이지네이션 -->
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                        <!-- 처음 페이지 -->
                        <li class="page-item" th:if="${currentPage > 0}">
                            <a class="page-link" th:href="@{/like/list(page=0)}">처음</a>
                        </li>

                        <!-- 이전 페이지 -->
                        <li class="page-item" th:if="${currentPage > 0}">
                            <a class="page-link" th:href="@{/like/list(page=${currentPage - 1})}">이전</a>
                        </li>

                        <!-- 페이지 번호 -->
                        <th:block th:if="${totalPages > 0}">
                            <th:block th:each="page : ${#numbers.sequence(0, totalPages - 1)}">
                                <li class="page-item" th:classappend="${currentPage == page} ? 'active'">
                                    <a class="page-link" th:href="@{/like/list(page=${page})}" th:text="${page + 1}"></a>
                                </li>
                            </th:block>
                        </th:block>


                        <!-- 다음 페이지 -->
                        <li class="page-item" th:if="${currentPage < totalPages - 1}">
                            <a class="page-link" th:href="@{/like/list(page=${currentPage + 1})}">다음</a>
                        </li>

                        <!-- 마지막 페이지 -->
                        <li class="page-item" th:if="${currentPage < totalPages - 1}">
                            <a class="page-link" th:href="@{/like/list(page=${totalPages - 1})}">끝</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </section>

</div>

<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>
